<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>招聘方协议-人人猎</title>
    <meta name="keywords" content="人人猎,人人猎网，人人猎头,renrenlie.com,www.renrenlie.com,人人猎首页,人人猎官网，人人都是猎头" />
    <meta name="description" content="人人猎（www.renrenlie.com)是企业低成本极速直招平台，让企业一周内搞定招聘需求，为推荐人提供“人力资源”变现通道。" />
    <link rel="icon" href="__ROOT__/Public/img/favicon.ico" type="image/ico">
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/resizer.css">
    <link rel="stylesheet" href="__ROOT__/Public/css/focuspic.css" />
    <link rel="stylesheet" href="__ROOT__/Public/css/menu_v.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/style.css">
    <script type="text/javascript" src="__ROOT__/Public/js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/js/script.js"></script>
</head>
<body>
	<!-- 遮罩层 -->
	<div class="mask" id="mask"></div>
	<include file="Public:zzwc"/>
	<include file="Public:zzyz"/>
	<include file="Public:zhuce"/>
	<include file="Public:denglu"/>
	<include file="Public:gsjs"/>
	<include file="Public:Right"/>
	<div class="center">
		<include file="Public:centerTop"/>
		<div class="yhys">
			<center><h2>人人猎平台“招聘方”用户协议</h2><br></center>
			<ul class="myul">
				<h3>甲方： 北京众聘科技有限公司</h3>
				<ul class="findUl">
					<ul>
						<li>地址： 北京市海淀区上地信息路28号上地信息大厦A座7层</li>
						<li>联系人：丁超</li>
						<li>联系电话：010 - 57188076</li>
						<li>联系邮箱：dingch@renrenlie.com</li>
					</ul>
				</ul>

				<h3>乙方：</h3>
				<ul class="findUl">
					<ul>
						<li>地址：</li>
						<li>联系人：</li>
						<li>联系电话：</li>
						<li>联系邮箱：</li>
					</ul>
				</ul>
			</ul>




			<ul class="myul">
				<ul class="findUl">
					<ul>
						<li style="padding-left:58px;">甲方拥有和运营人人猎平台，本协议中人人猎平台和甲公司是同一主体；乙方指本协议的招聘方用户，本协议中招聘方用户（或招聘方）和乙方是同一主体。</li>
						<li style="padding-left:58px;">甲、乙双方经友好协商，达成本协议以下条款。</li>
					</ul>
				</ul>
			</ul>


			
			<ul class="myul">
				<h3>一、 定义</h3>
				<ul class="findUl">
					<ul>
						<li>1. “人人猎”：指人人猎网站（www.renrenlie.com)，及微信版、WAP 版、iOS版和Android版（合称“人人猎平台”， 
       后称“本平台”）。</li>
						<li>  2. “招聘方”：指注册成为人人猎平台的用户，并经所在公司或机构授权在人人猎平台发布招聘需求的公司用户、机构用
      户或公司和机构授权以招聘方身份注册的个人。</li>
					</ul>
				</ul>
			</ul>






			<ul class="myul">
				<h3>二、 注册</h3>
				<ul class="findUl">
					<ul>
						<li>1. 注册条件：</li>
						<li>a) 乙方公司或乙方授权注册成为人人猎平台的招聘方用户；</li>
						<li>b) <b>注册时无需提供公司证明文件，但首次发布招聘需求信息时需上传完整的公司证明文件（加盖公章的营业执照复印件和本协议，合称“公司证明文件”）后，招聘需求信息才能在人人猎平台成功发布。</b></li>
						<li>本平台对招聘方用户提供的资料保密。</li>

						<li>2. 注册信息：</li>
						<li>a)成功注册成为本平台的招聘方用户后，请及时登录并完善公司基本信息，并确保公司信息真实完整；</li>
						<li>b) 招聘方用户的公司信息（包括但不限于公司基本信息、联系方式等）发生变化后请及时在本平台更新相关信息。</li>
						<li>3. 身份信息：</li>
						<li>a) 招聘方公司名字必须正确真实填写，公司名字一经填写确认后不可自行修改；</li>
						<li>b) 为避免广大推荐人不当联系招聘用户，公司联系方式仅作为本平台与招聘方沟通协调时使用及其他必要情况使用，此外、本平台承诺对招聘方用户的联系电话保密、暂不对广大推荐人公开。 </li>
						<li>3. 注册承诺：招聘方用户一旦成功注册成为本平台用户，即可合理、合法享受本平台的相关服务，但同时需遵守本平台的相关制定和规定、遵守国家相关法律和法规。</li>
						<li>若招聘方用户恶意破坏本平台相关制度和规定的，本平台有权中止、及终止用户使用本平台相关服务；若用户行为触犯国家法律和法规的，及给本平台造成重大损失的，本平台有权追究相关法律责任。</li>
					</ul>
				</ul>
			</ul>











			<ul class="myul">
				<h3>三、 流程</h3>
				<ul class="findUl">
					<ul>
						<li>1. 招聘流程：</li>
						<li><img src="__ROOT__/Public/img/liuchen2.png" alt=""></li>
						<li>2. 发布职位 ：招聘方发布招聘信息时，需完整和清晰的填写工作地点、工作职责、任职资格、薪酬待遇等方便推荐人匹配被推荐人的必要岗位信息；并同时填写推荐费，推荐费一经设定、不得修改。</li>
						<li>3. 推荐费：推荐费为招聘方为招到合适候选人后付费给本平台的费用。</li>
						<li>4. 管理候选人：</li>
						<li>1）简历筛选：招聘方决定不予面试或面试不通过的候选人，请对其状态确认为“不面试”或“面试不通过”，不面试或面试不通过情况下、企业需真实标注候选人不合适的原因；</li>
						<li> 2）面试进程：当被推荐人进入面试流程后，招聘方需及时在本平台更新候选人的进度和状态，即“面试邀请”、“面试不通过”、“通过面试”和“已入职”，       <b>招聘方用户需在被推荐人状态发生变化后2个工作日内对被推荐人状态在本平台做更改处理；若招聘方未及时对“面试通过”和“已入职”的候选人的状态进行及时标注、导致候选人又被推荐给其他企业从而错失候选人的，本平台不予承担任何责任。</b></li>
						<li> 3） 招聘方需进一步了解候选人相关信息时，招聘方可联系本平台或推荐人，推荐人和本平台有义务尽力配合招聘方合理的信息需求。</li>
						<li><b> 5. 付招聘费</b></li>
						<li><b>1）招聘方需在候选人成功入职后7个工作日内将本职位的推荐费（发布招聘时确认的推荐金，参见本协议“第三条的第3条"）足额支付给本平台。</b></li>
						<li><b>本平台收款信息为：</b></li>
						<li><b> 收款人： 北京众聘科技有限公司</b></li>
						<li> <b> 收款行： 中国建设银行北京上地支行</b></li>
						<li> <b>银行帐号：1100 1045 3000 5302  8404</b></li>
						<li><b> 付款时请在“付款摘要”中写清招聘方公司名、本次付款对应的职位</b></li>
						<li>2）本平台收到招聘费后2个工作日内会将该职位的推荐金支付给推荐人；</li>
						<li>  3） 若招聘方实际招到人数多于该岗位的计划招聘人数，招聘方需根据实际入
  职人数、以本岗位发布的招聘费为基础进行付费（即总招聘费 = 实际招到人
  数 × 该岗位发布的招聘费）；
</li>
						<li> 4） 若被推荐人在某招聘周期内未通过面试，但招聘方在面试之日起6个月内 
   重新录用该候选人的，视为推荐人成功推荐，招聘方应在候选人成功入职之  
   日起7  个工作日内支付招聘费。
</li>
						<li>5）招聘方不得拖延支付、无故拒付推荐费，<b>本平台有合理证据证明招聘方故
  意拖延支付、无故拒付推荐费的，<a style="text-decoration:underline">本平台有权依本协议之约定采用法律手段向 
  招聘方追偿，且可将故意拒付应付推荐费的事宜在本平台显著位置公示、并立 
  即终止该招聘方用户使用本平台一切服务的权利。</a></b>
</li>
						<li> 6. 发票开具</li>
						<li> 1）金额：本平台向招聘方全额开具“服务费”发票；</li>
						<li> 2）增值税专用发票： 若招聘方需开具增值税专用发票，招聘方应向本平台提
     供开具增值税专用发票的必要资料。
</li>
						
					</ul>
				</ul>
			</ul>










			<ul class="myul">
				<h3>四、发布招聘信息</h3>
				<ul class="findUl">
					<ul>
						<li> 1. 完整性。招聘方<b>产生真实招聘</b>需求后，可随时在本平台发布真实的。招聘信息至少包括该岗位的行业类别、职位名称、薪资待遇、工作地点、招聘截止日期、招聘人数、工作职责、岗位要求和招聘费等便于推荐人做出合理推荐决策的必要信息。</li>
						<li> 2. 真实性。<b>招聘方必须保证发布的信息真实无误</b>，成功入职后的候选人的相关工作事宜需严格遵守招聘信息之约定（包括但不限于不得提供比招聘信息中列明的薪酬待遇更低的实际薪资待遇等）。</li>
						<li> 3. 招聘信息管理。<b>招聘方发布招聘信息后对可结合招聘进展对相关信息进行修改，但不得修改工作地点，薪资待遇、招聘资费只能调高不能调低。若招聘过程候中调高薪资待遇和招聘费的，选人成功入职后按调高后的最终薪资待遇和招聘资费执行。</b></li>
					</ul>
				</ul>
			</ul>



			<ul class="myul">
				<h3>五、招聘方权利义务</h3>
				<ul class="findUl">
					<ul>
						<li>  1. 招聘方注册成为本平台的用户后，有权在遵守国家相关法律、遵守本平台相       相关规定前提下正常使用本平台并享受本平台的相关服务。</li>
						<li>2. 招聘方应遵循诚实、信用原则，及时支付招聘费。</li>
						<li>3. 招聘方应给予成功入职的候选人与发布的职位信息相一致的薪酬待遇。</li>
						<li> 4. 招聘方应对通过本平台获取的被推荐人和推荐人的相关信息保密，不得透露给其他任何第三人；因招聘方严重不当使用被推荐人和推荐人的相关信息的，推荐人、被推荐人和本平台均有权要求招聘方赔偿相关直接经济损失。</li>
					</ul>
				</ul>
			</ul>









			<ul class="myul">
				<h3>六、隐私及保密条款</h3>
				<ul class="findUl">
					<ul>
						<li>1. 不收集个人终端信息：本平台不收集招聘方用户在人人猎平台操作记录以外的信息。 本平台承诺不收集用户使用计算机的IP地址、网络服务提供者的IP地址、登录终端的ID及Cookies。</li>
						<li>2. 用户账号保密：招聘方用户对自己的用户名和账号保密，不授权给其他任何可能导致账号出现的风险的第三方使用自己的账号。</li>
						<li>3. 风险账号暂停：本平台合理怀疑招聘方用户必要信息为错误、不实或不完整的，有权暂停或终止招聘方用户的账号；若招聘方用户利用本平台非法牟利的，本平台有权追索用户的不当得利并追究相关的法律责任。</li>
					</ul>
				</ul>
			</ul>





			<ul class="myul">
				<h3>七、说明</h3>
				<ul class="findUl">
					<ul>
						<li>1. 协议更新：本协议发生更新的，自新版协议在本平台发布时起、新版协议与本协议不一致的以最新发布协议中相关条款为准；若用户不同意新版协议的，可自行放弃使用本平台。</li>
						<li>2. 协议生效：招聘方用户成功注册成为本平台用户时，本协议自动生效，视为招聘方用户已完全接受本协议及本平台相关管理制度和规定。</li>
						<li>3. 解释权：本协议解释权归本平台所有。</li>
                                                <li style="text-align:right">人人猎平台</li>
					</ul>
				</ul>
			</ul>












			

		</div>
		<include file="Public:centerFooter"/>
	</div>
	<include file="Public:fiexdTop"/>
</body>

</html>