<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="__ROOT__/Public/img/favicon.ico" type="image/ico">
        <title>推荐职位</title>
        <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/new-resizer.css">
        <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/salon.css">
        <script type="text/javascript" src="__ROOT__/Public/js/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="__ROOT__/Public/js/al-index.js"></script>
    </head>
    <body style="background:#cdedfd">
    <span id="top" name="top"></span>
    <div class="show-header">
        <div class="content">
            <img class="rotation" src="/Public/img/activity-img/top-roation.png" alt="">
            <img class="r-img" src="/Public/img/activity-img/show-header-r.png" alt="">
            <img class="head-title" src="/public/img/activity-img/head-title.png" alt="">
            <h3>最新<i>预告</i></h3>
            <ul>
                <li>1.时间：2015年6月6日  下午1:30 — 4:00。</li>
                <li>2.标题：人人猎2015第3期线下沙龙分享会。</li>
                <li>3.主题：如何在互联网圈内混下去。</li>
                <li>4.地址：海淀区西二旗辉煌国际2号楼2206。</li>
                <li>5.电话：010-57188076</li>
            </ul>
            <span class="btn hover-hand"></span>
        </div>
    </div>
    <div class="mywrap">
        <div class="wrap">
            <div class="salon-show clearfix">
                <h2><img src="/Public/img/activity-img/title-salon.png" alt=""></h2>
                <h3><b class="m">2015年人人猎第</b><span>2</span><b>期线下沙龙</b></h3>
                <div class="myimg">
                    <img src="/public/img/activity-img/1.png" alt="">
                </div>

                <h3><b class="m">2015年人人猎第</b><span>1</span><b>期线下沙龙</b></h3>
                <div class="myimg">
                    <img src="/public/img/activity-img/1.png" alt="">
                </div>
                <ul class="myul">
                    <li class="m"> <a href="http://www.renrenlie.com">去首页</a></li>
                    <li class="m2"> <a href="#top">回到顶部</a></li>
                </ul>
            </div>
        </div>
    </div>
   
    <include file="Public:newFooter"/>
    <script type="text/javascript">
    $(document).ready(function(){
        
    });
    </script>
</body>
</html>