<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="__ROOT__/Public/img/favicon.ico" type="image/ico">
        <title>推荐职位</title>
        <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/new-resizer.css">
        <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/salon.css">
        <script type="text/javascript" src="__ROOT__/Public/js/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="__ROOT__/Public/js/al-index.js"></script>
    </head>
    <body style="background:#cdedfd">
    <span id="top" name="top"></span>
    <div class="show-header2">
        <div class="content">
            <img src="/public/img/activity-img/pic2.png" alt="">
            <span class="btn hover-hand"></span>
        </div>
    </div>
    <div class="mywrap">
        <div class="wrap">
            <div class="salon-show2 clearfix">
                <h2>人人猎第二期线下沙龙套图</h2>
                <div class="myimg">
                    <img src="/public/img/activity-img/1.png" alt="">
                </div>
                <ul class="myul2">
                    <li class="clearfix"><em class="dis-inlin dis-block fl-lef">活动摘要：</em><span class="dis-inlin dis-block fl-lef">此次活动很长成功取得猎你是新赛季速达啊。</span></li>
                    <li class="clearfix"><em class="dis-inlin dis-block fl-lef">干货：</em><span class="dis-inlin dis-block fl-lef">此次活动很长此次活动很长成功取得猎你是新赛季速达啊。成功取得猎你是新赛季速达啊。</span></li>
                    <li class="clearfix"><em class="dis-inlin dis-block fl-lef">具体内容：</em><span class="dis-inlin dis-block fl-lef">此次活动很长dfsg sdf gdsfg 个电话是是神烦狗都很高二哥都很高的
话固始饭店公司是固定伤害成功取s的韩国队和飞的话时候更舒服 是还是
闪电皇冠都很高的话都是得猎你是新赛季速达啊。</span></li>
                </ul>
                <h4>上一期：如何在创业全里混上去。</h4>
                <h4>下一期：论推荐人的心态，hr如何处理建立问题。</h4>
                <ul class="myul">
                    <li class="m"> <a href="http://www.renrenlie.com">去首页</a></li>
                    <li class="m2"> <a href="#top">回到顶部</a></li>
                </ul>
            </div>
        </div>
    </div>
   
    <include file="Public:newFooter"/>
    <script type="text/javascript">
    $(document).ready(function(){
        
    });
    </script>
</body>
</html>