<!DOCTYPE html>
<html lang="cn">
    <head>
        <title>正在推荐</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1, maximum-scale=1, user-scalable=no" />
        <meta name="format-detection" content="telephone=no,email=no"/>
        <meta name="full-screen" content="yes">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <script type="text/javascript" src="__ROOT__/Public/js/iscroll.js"></script>
        <script type="text/javascript" src="__ROOT__/Public/js/jquery-1.11.0.min.js"></script>
        <link rel="stylesheet" href="__ROOT__/Public/css/webchat/jin_2.css"/>
        <script type="text/javascript">
            var myScroll,
                    pullDownEl, pullDownOffset,
                    pullUpEl, pullUpOffset,
                    generatedCount = 0;

            /**
             * 初始化iScroll控件
             */
            function ajx(page, number) {
                $.ajax({
                    type: 'POST',
                    url: '/Home/Webchat/get_recommending_list',
                    data: 'page=' + page + '&number=' + number,
                    dataType: 'json',
                    success: function (data) {

                        if (data.count == 0) {
                            if ($.trim($("#thelist2").html()) == "") {
                                $('#thelist2').append('<div class="resultjobs clearfix" style="font-size:14px;text-align:center;line-height:50px;color:#b4b4b4;">还未有正在推荐的职位，请先去推荐!</div>');
                            }
                            $('#pullUp').hide();
                            return;
                        }

                        data = eval(data['result']);
                        for (var i = 0; i < data.length; i++) {


                            // alert(data[i]);
                            var str = "";
                            str = '<div class="con zztj clearfix">'
                                    + '<div class="cen xzw">'
                                    + '<p class="p1">'
                                    + '<span class="p1_sp nm">' + data[i].username + '</span><em class="postin">' + data[i].title + '</em>'
                                    + '</p>'
                                    + '<p class="p1 c">'
                                    + '<span class="spa1 jd" style>' + data[i].cpname + '</span>'
                                    + '</p>'
                                    + '<p class="p2" style="height:30px;line-height:30px;" >'
                                    + '<span class="spa1 jd">薪资:' + data[i].treatmentdata + '</span>'
                                    + '<span class="spa1 wsh">进度:' + data[i].audstartdata + '</span>'
                                    + '</p>'
                                    + '</div>'
                                    + '<div class="right">'
                                    + '<a href=""><p class="p2 zztj">' + data[i].Tariff + '</p></a>'
                                    + '</div>'
                                    + '</div>'

                            $('#thelist2').append(str)
                        }
                    }
                });
            }
            function pullUpAction() {
                setTimeout(function () {
                    var el, li, i;
                    el = document.getElementById('thelist');
                    myScroll.refresh();
                }, 1000);
            }
            function pullUpAction2() {
                setTimeout(function () {
                    ajx(1, 10)
                    myScroll.refresh();
                }, 1000);
            }
            pullUpAction2()
            var num = 1;
            function loaded() {
                pullDownEl = document.getElementById('pullDown');
                pullDownOffset = pullDownEl.offsetHeight;
                pullUpEl = document.getElementById('pullUp');
                pullUpOffset = pullUpEl.offsetHeight;

                myScroll = new iScroll('wrapper', {
                    scrollbarClass: 'myScrollbar', /* 重要样式 */
                    useTransition: false, /* 此属性不知用意，本人从true改为false */
                    topOffset: pullDownOffset,
                    onRefresh: function () {
                        if (pullDownEl.className.match('loading')) {
                            pullDownEl.className = '';
                            pullDownEl.querySelector('.pullDownLabel').innerHTML = '下拉刷新...';
                        } else if (pullUpEl.className.match('loading')) {
                            pullUpEl.className = '';
                            pullUpEl.querySelector('.pullUpLabel').innerHTML = '上拉加载更多...';
                        }
                    },
                    onScrollMove: function () {
                        if (this.y > 5 && !pullDownEl.className.match('flip')) {
                            pullDownEl.className = 'flip';
                            pullDownEl.querySelector('.pullDownLabel').innerHTML = '松手开始更新...';
                            this.minScrollY = 0;
                        } else if (this.y < 5 && pullDownEl.className.match('flip')) {
                            pullDownEl.className = '';
                            pullDownEl.querySelector('.pullDownLabel').innerHTML = '下拉刷新...';
                            this.minScrollY = -pullDownOffset;
                        } else if (this.y < (this.maxScrollY - 5) && !pullUpEl.className.match('flip')) {
                            pullUpEl.className = 'flip';
                            pullUpEl.querySelector('.pullUpLabel').innerHTML = '松手开始更新...';
                            this.maxScrollY = this.maxScrollY;
                        } else if (this.y > (this.maxScrollY + 5) && pullUpEl.className.match('flip')) {
                            pullUpEl.className = '';
                            pullUpEl.querySelector('.pullUpLabel').innerHTML = '上拉加载更多...';
                            this.maxScrollY = pullUpOffset;
                        }
                    },
                    onScrollEnd: function () {
                        ++num;
                        if (pullDownEl.className.match('flip')) {
                            //                pullDownEl.className = 'loading';
                            //                pullDownEl.querySelector('.pullDownLabel').innerHTML = '加载中...';                
                            //                pullDownAction(); // Execute custom function (ajax call?)
                        } else if (pullUpEl.className.match('flip')) {
                            pullUpEl.className = 'loading';
                            pullUpEl.querySelector('.pullUpLabel').innerHTML = '加载中...';
                            pullUpAction(); // Execute custom function (ajax call?)
                            ajx(num, 10);
                        }
                    }
                });



                setTimeout(function () {
                    document.getElementById('wrapper').style.left = '0';
                }, 800);
            }
            //初始化绑定iScroll控件
            document.addEventListener('touchmove', function (e) {
                e.preventDefault();
            }, false);
            document.addEventListener('DOMContentLoaded', loaded, false);
        </script>
    </head>
    <body>
        <!--<div id="header">
            <span href="../db.html#page2">被推荐人</span>
            <a href="">返回</a>
        </div>-->
        <div id="wrapper">
            <div id="scroller">
                <div id="pullDown" style="display:none">
                    <span class="pullDownIcon"></span><span class="pullDownLabel">下拉刷新...</span>
                </div>
                <div id="thelist">
                    <div id="thelist2">


                    </div>
                </div>
                <div id="pullUp">
                    <span class="pullUpIcon"></span><span class="pullUpLabel">上拉加载更多...</span>
                </div>
            </div>
        </div>

        <include file="Webchat:footer"/>

    </body>
</html>