<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>职位明细</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="format-detection" content="telephone=no,email=no"/>
    <meta name="full-screen" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <script type="text/javascript" src="__ROOT__/Public/js/iscroll.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/js/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="__ROOT__/Public/css/webchat/jin_ 2.css"/>
</head>
<body>
<div class="posdetail">
	<div class="dis_box aligncenter orient">
		<dl class="positname dis_box">
			<dt class="dis_box orient">
				<div class="flex">Android研发工程师</div>
				<div class="flex"><span class="l">职位月薪：</span><span class="c">10K-20K</span><span class="r">200000</span></div>
			</dt>
			<dd class="">
				<span></span>
			</dd>
		</dl>
	</div>

	<div class="dis_box aligncenter orient">
		<dl class="companyname dis_box">
			<dt class="dis_box orient">
				<div class="flex">百度</div>
				<div class="flex"><b>融资阶段：</b><span>A轮融资</span><b>性质：</b><span>民营</span></div>
			</dt>
			<dd class=""><span></span></dd>
		</dl>
	</div>
	<div class="dis_box aligncenter orient">
		<ul class="companyinfor">
			<li class="ml"><b>招聘人数：</b><span>4</span><b>工作地点：</b><span>东城区</span></li>
			<li class="ml"><b>工作经验：</b><span>无</span></li>
			<li class="ml"><b>学历要求：</b><span>大专及以上</span><b>语言能力：</b><span>无</span></li>
			<li class="dis_box"><b style="display:block">地址：</b><span class="companyadrws flex">山西省太原市万柏林区兴华街千峰北路口杏园2小区三单元</span></li>
		</ul>
	</div>
	<div class="dis_box aligncenter orient">
		<h3>职位描述</h3>
		<p>
			1.负责基于Android实际项目开发经验；2.独立完成移动终端产品应用的功能模块开发；3.产品文档编写，知识沉淀与分享；4.单元测试用例编写和代码重构；
			
		</p>
	</div>
	<div class="dis_box aligncenter orient">
		<h3>任职要求</h3>
		<div style="padding-right:10px;width:90%;">
			<p>
			1.学历要求：本科及以上学历；2.工作经验2年及以上Android实际项目开发经验；精通Android开发平台及框架原理，精通Java语言；熟练掌握数据结构、基本算法，具备基本的算法设计能力；熟悉HTTP、XML、JSON，熟悉Android下网络通信机制；有Github账号，独立博客者优先。3.能力要求具有规范的编程习惯与文档编写能力，积极配合公司各项规范化建设工作；具备较好的学习能力、问题分析能力、可以独立调试解决问题；具备良好的沟通和协调能力及团队合作意识，能够主动总结和分享自己的开发经验。4.素质要求：工作踏实，态度积极，能够承受工作压力，充满创业激情；责任心强，正直诚实，值得信赖，自学能力强，能自我管理。
		</p>
		</div>
		
	</div>
</div>
<footer>
	<h3>人人猎头</h3>
	<p><span>TEL:4006-685-596</span>&nbsp&nbsp&nbsp <span>京ICP备14040265号</span></p>
</footer>
<include file="Webchat:statistics">
<script type="text/javascript" src="js/slider.js"></script>
</body>
</html>