.footer .footer-ft .mod,.footer .footer-toy,.screen-hd .map .mod .mod-wrap h4,.site-nav-bd .login-info .menu-bd .user-info .vip-icon-1,.site-nav-bd .login-info .menu-bd .user-info .vip-icon-2,.site-nav-bd .login-info .menu-bd .user-info .vip-icon-3,.site-nav-bd .login-info .menu-bd .user-info .vip-icon-4,.site-nav-bd .login-info .menu-bd .user-info .vip-icon-5,.site-nav-bd .login-info .menu-bd .user-info .vip-icon-6,.site-nav-bd .login-info .menu-bd .user-info .vip-icon0,.site-nav-bd .login-info .menu-bd .user-info .weibo-bind-icon,.site-nav-bd .login-info .menu-hd .vip-icon-1,.site-nav-bd .login-info .menu-hd .vip-icon-2,.site-nav-bd .login-info .menu-hd .vip-icon-3,.site-nav-bd .login-info .menu-hd .vip-icon-4,.site-nav-bd .login-info .menu-hd .vip-icon-5,.site-nav-bd .login-info .menu-hd .vip-icon-6,.site-nav-bd .login-info .menu-hd .vip-icon0,.site-nav-bd .site-map .menu-bd .menu-bd-panel .mod .mod-wrap h4 {
	background:url(http://gtms02.alicdn.com/tps/i2/T1wLGVFcRfXXXa78nI-400-200.png);
	background-image:-webkit-image-set(url(http://gtms02.alicdn.com/tps/i2/T1wLGVFcRfXXXa78nI-400-200.png) 1x,url(http://gtms01.alicdn.com/tps/i1/T1CLOwFelgXXakF0U7-800-400.png) 2x);
	background-image:-moz-image-set(url(http://gtms02.alicdn.com/tps/i2/T1wLGVFcRfXXXa78nI-400-200.png) 1x,url(http://gtms01.alicdn.com/tps/i1/T1CLOwFelgXXakF0U7-800-400.png) 2x);
	background-image:-ms-image-set(url(http://gtms02.alicdn.com/tps/i2/T1wLGVFcRfXXXa78nI-400-200.png) 1x,url(http://gtms01.alicdn.com/tps/i1/T1CLOwFelgXXakF0U7-800-400.png) 2x);
	background-image:-o-image-set(url(http://gtms02.alicdn.com/tps/i2/T1wLGVFcRfXXXa78nI-400-200.png) 1x,url(http://gtms01.alicdn.com/tps/i1/T1CLOwFelgXXakF0U7-800-400.png) 2x);
	background-repeat:no-repeat
}

.cat .cat-bd .cat-cont .cat-cont-bd .mod .mod-bd li a,.cat .cat-bd .cat-cont .cat-cont-close,.cat .cat-bd .cat-menu li i,.conve-bd-box-close,.conve-hd h3,.feedback .update-log .update-log-hd .update-log-close,.follow i,.guang .guang-bd .mod-a .mod-bd-l .slide-ft a i,.guang .guang-hd h3 a,.helper .mod .mod-wrap h4 span,.logo h1 .logo-bd,.logo h2 a,.market-bd .mod .mod-ft .mod-txt a,.market-bd .mod-c .mod-txt a,.market-hd h3,.member .member-bd .vip-icon-0,.member .member-bd .vip-icon-1,.member .member-bd .vip-icon-2,.member .member-bd .vip-icon-3,.member .member-bd .vip-icon-4,.member .member-bd .vip-icon-5,.member .member-bd img,.member .member-bd p .btn-punch i,.promo .promo-ft .promo-opt a i,.qr .qr-ft,.sale .sale-bd li .mod .mod-bd i,.sale .sale-hd .sale-p4p a,.sale .sale-hd h3,.screen-hd .map .mod .mod-wrap li a .lw,.search .search-bd .search-panel .search-button .btn-search,.tmall .tmall-ft .tmall-opt a i,.tmall .tmall-hd a,.tzh .hd h3 a,.tzh .hd i,.tzh-ft .tzh-tip .tzh-tip-bd .tzh-tip-wrap p i,.tzh-ft .tzh-tip .tzh-tip-ft {
	background:url(http://gtms01.alicdn.com/tps/i1/T1iG48FDpfXXX8QSDI-400-340.png);
	background-image:-webkit-image-set(url(http://gtms01.alicdn.com/tps/i1/T1iG48FDpfXXX8QSDI-400-340.png) 1x,url(http://gtms04.alicdn.com/tps/i4/T1LX06Fw8iXXcaXwo7-800-680.png) 2x);
	background-image:-moz-image-set(url(http://gtms01.alicdn.com/tps/i1/T1iG48FDpfXXX8QSDI-400-340.png) 1x,url(http://gtms04.alicdn.com/tps/i4/T1LX06Fw8iXXcaXwo7-800-680.png) 2x);
	background-image:-ms-image-set(url(http://gtms01.alicdn.com/tps/i1/T1iG48FDpfXXX8QSDI-400-340.png) 1x,url(http://gtms04.alicdn.com/tps/i4/T1LX06Fw8iXXcaXwo7-800-680.png) 2x);
	background-image:-o-image-set(url(http://gtms01.alicdn.com/tps/i1/T1iG48FDpfXXX8QSDI-400-340.png) 1x,url(http://gtms04.alicdn.com/tps/i4/T1LX06Fw8iXXcaXwo7-800-680.png) 2x);
	background-repeat:no-repeat
}

.cat {
	width:155px;
	top: 0px;
	left:0px;
}

.cat .cat-hd {
	z-index:2;
	position:relative;
	background:#0983c6;
	border:1px solid #dcdcdc;
}
.cat .cat-hd a {
	display:block;
	width:150px;
	height:39px;
	overflow:hidden;
	*zoom:1
}
.cat .cat-hd h2 {
	cursor:pointer;
	color: #ffffff;
	padding-top:0px;
	width:100%;
	height:0;
	height: 39px;
	line-height: 39px;
	text-align: center;
	background-position:0 -180px;
	*zoom:1;
	font-size: 16px;
	font-weight: normal;
}
.cat .cat-bd {
	z-index:2;
	position:relative;
	cursor:pointer;
	width:153px;
	height:494px;
	border:1px solid #dcdcdc;
	border-top-width:0;
	background:#f0f0f0;
	*zoom:1
}
.cat .cat-bd:after {
	content:"";
	display:table;
	clear:both
}
.cat .cat-bd .cat-line {
	position:absolute;
	top:0;
	left:-1px;
	width:150px;
	height:2px;
	background:#f40;
	overflow:hidden;
	*zoom:1
}
.cat .cat-bd .cat-menu {
	z-index:4;
	position:absolute;
	top:0;
	left:-1px;
	width:155px;
	*zoom:1
}
.cat .cat-bd .cat-menu:after {
	content:"";
	display:table;
	clear:both
}
.cat .cat-bd .cat-menu li {
	z-index:2;
	position:relative;
	display:block;
	line-height:31px;
	overflow:hidden;
	*zoom:1;
	padding:0 5px;
	vertical-align:bottom;
	border-bottom:1px solid #dedede
}
.cat .cat-bd .cat-menu li li{
	border:none;
	
}
.cat .cat-bd .cat-menu li li:hover{
	background: #0983c6;
}
.cat .cat-bd .cat-menu li li a{
	font-size: 12px;
	color: #666666;
	display: block;
	width: 100%;
	margin:0 5px;
	margin-left:0;
	height: 100%;
}
.cat .cat-bd .cat-menu li li a:hover{
	color: #ffffff
}
.cat .cat-bd .cat-menu li h3 {
	font-size:18px;
	font-weight: bold;
	color: #f40;
	font-family:tahoma,arial,Microsoft Yahei,\5b8b\4f53
}
.cat .cat-bd .cat-menu li i {
	display:inline;
	float:left;
	margin:3px 10px 0 0;
	height:24px;
	width:30px
}
.cat .cat-bd .cat-menu li b {
	position:relative;
	position:absolute;
	top:12px;
	left:120px;
}
.cat .cat-bd .cat-menu li b em,.cat .cat-bd .cat-menu li b span {
	position:absolute;
	top:0;
	left:0;
	width:0;
	height:0;
	border-color:rgba(255,255,255,0);
	border-color:transparent\0;
	*border-color:transparent;
	_border-color:tomato;
	_filter:chroma(color=tomato);
	border-style:solid;
	overflow:hidden;
	*zoom:1;
	border-width:4px 0 4px 4px
}
.cat .cat-bd .cat-menu li b em {
	left:2px;
	border-left-color:#999
}
.cat .cat-bd .cat-menu li b span {
	border-left-color:#f8f8f8
}
.cat .cat-bd .cat-menu .cat-1 i {
	background-position:-120px 0
}
.cat .cat-bd .cat-menu .cat-2 i {
	background-position:-120px -24px
}
.cat .cat-bd .cat-menu .cat-3 i {
	background-position:-120px -48px
}
.cat .cat-bd .cat-menu .cat-4 i {
	background-position:-120px -72px
}
.cat .cat-bd .cat-menu .cat-5 i {
	background-position:-120px -96px
}
.cat .cat-bd .cat-menu .cat-6 i {
	background-position:-120px -120px
}
.cat .cat-bd .cat-menu .cat-7 i {
	background-position:-120px -144px
}
.cat .cat-bd .cat-menu .cat-8 i {
	background-position:-120px -168px
}
.cat .cat-bd .cat-menu .cat-9 i {
	background-position:-160px 0
}
.cat .cat-bd .cat-menu .cat-10 i {
	background-position:-160px -24px
}
.cat .cat-bd .cat-menu .cat-11 i {
	background-position:-160px -48px
}
.cat .cat-bd .cat-menu .cat-12 i {
	background-position:-160px -72px
}
.cat .cat-bd .cat-menu .cat-13 i {
	background-position:-160px -96px
}
.cat .cat-bd .cat-menu .cat-14 i {
	background-position:-160px -120px
}
.cat .cat-bd .cat-menu .cat-15 i {
	background-position:-160px -144px
}
.cat .cat-bd .cat-menu .cat-16 i {
	background-position:-160px -168px
}
.cat .cat-bd .cat-menu .cat-1 {
	padding-top:4px
}
.cat .cat-bd .cat-menu .cat-1 b {
	top:16px
}
.cat .cat-bd .cat-menu .cat-16 {
	border-bottom-color:#f8f8f8
}
.cat .cat-bd .cat-menu .selected {
	margin:0;
	border:1px solid #0983c6;
	border-right:0;
	background:#fff
}
.cat .cat-bd .cat-menu .selected b {
	left:129px
}
.cat .cat-bd .cat-menu .selected b em {
	border-left-color:#f40
}
.cat .cat-bd .cat-menu .selected b span {
	border-left-color:#fff
}
.cat .cat-bd .cat-menu .selected-prev {
	border-bottom-color:#f8f8f8
}
.cat .cat-bd .cat-menu .cat-shadow {
	z-index:1;
	position:absolute;
	left:2px;
	display:none;
	margin:0;
	width:147px;
	border-bottom:0;
	background:#dfdfdf
}
.cat .cat-bd .cat-cont {
	z-index:3;
	position:absolute;
	top:0;
	left:153px;
	display:none;
	width:0;
	overflow:hidden;
	*zoom:1
}
.cat .cat-bd .cat-cont .cat-cont-bd {
	z-index:5;
	position:relative;
	padding:15px;
	width:451px;
	border:1px solid #0983c6;
	background:#fff;
	overflow:hidden;
	*zoom:1
}

.cat .cat-bd .cat-cont .cat-cont-bd .mod li{
	padding: 10px 20px;
	display: inline-block;
	display: block;
	float: left;
}
.cat .cat-bd .cat-cont .cat-cont-bd .mod li a{
	color: #666666;
}













.cat .cat-bd .cat-cont .cat-cont-bd .mod .mod-hd a strong {
	display:inline;
	float:left;
	margin-right:8px;
	font-weight:400
}
.cat .cat-bd .cat-cont .cat-cont-bd .mod .mod-hd a i {
	display:inline;
	float:left;
	position:relative;
	margin:2px 0;
	width:13px;
	height:13px;
	border:1px solid #e4e4e4;
	overflow:hidden;
	*zoom:1
}
.cat .cat-bd .cat-cont .cat-cont-bd .mod .mod-hd a i em,.cat .cat-bd .cat-cont .cat-cont-bd .mod .mod-hd a i span {
	position:absolute;
	width:0;
	height:0;
	border-color:rgba(255,255,255,0);
	border-color:transparent\0;
	*border-color:transparent;
	_border-color:tomato;
	_filter:chroma(color=tomato);
	border-style:solid;
	overflow:hidden;
	*zoom:1;
	border-width:3px 0 3px 3px
}
.cat .cat-bd .cat-cont .cat-cont-bd .mod .mod-hd a i em {
	border-left-color:#dadada
}
.cat .cat-bd .cat-cont .cat-cont-bd .mod .mod-hd a i span {
	border-left-color:#fff
}
.cat .cat-bd .cat-cont .cat-cont-bd .mod .mod-hd a i em {
	top:3px;
	left:5px
}
.cat .cat-bd .cat-cont .cat-cont-bd .mod .mod-hd a i span {
	top:3px;
	left:3px
}
.cat .cat-bd .cat-cont .cat-cont-bd .mod .mod-hd a:hover i em {
	border-left-color:#f40
}
.cat .cat-bd .cat-cont .cat-cont-bd .mod .mod-bd .mod-bd-l,.cat .cat-bd .cat-cont .cat-cont-bd .mod .mod-bd .mod-bd-r {
	float:left;
	width:334px;
	overflow:hidden;
	*zoom:1
}
.cat .cat-bd .cat-cont .cat-cont-bd .mod .mod-bd li {
	display:inline;
	float:left;
	margin-top:-1px;
	padding:10px 0 10px 10px;
	width:324px;
	line-height:24px;
	border-top:1px dotted #eee;
	overflow:hidden;
	*zoom:1
}
.cat .cat-bd .cat-cont .cat-cont-bd .mod .mod-bd li a {
	display:inline;
	float:left;
	margin-left:-11px;
	padding:0 10px;
	background-position:-399px 8px
}
.cat .cat-bd .cat-cont .cat-cont-bd .mod .mod-bd li:hover {
	background:#fbfbfb
}
.cat .cat-bd .cat-cont .cat-cont-bd .mod .mod-bd li h4 {
	overflow:hidden;
	*zoom:1
}
.cat .cat-bd .cat-cont .cat-cont-bd .mod .mod-bd li h4 a {
	margin-left:-10px
}
.cat .cat-bd .cat-cont .cat-cont-bd .mod .mod-bd li a {
	margin-right:10px;
	white-space:nowrap
}
.cat .cat-bd .cat-cont .cat-cont-bd .mod .mod-bd li p {
	width:314px;
	overflow:hidden;
	*zoom:1
}
.cat .cat-bd .cat-cont .cat-cont-bd .mod .mod-bd .mod-bd-l {
	padding-right:15px;
	border-right:1px solid #eee
}
.cat .cat-bd .cat-cont .cat-cont-bd .mod a{
	color: #333;
}
.cat .cat-bd .cat-cont .cat-cont-bd .mod .mod-bd .mod-bd-r {
	margin-left:15px
}
.cat .cat-bd .cat-cont .cat-cont-bd .mod .mod-ft {
	display:none;
	width:699px;
	height:40px;
	overflow:hidden;
	*zoom:1
}
.cat .cat-bd .cat-cont .cat-cont-bd .mod .mod-ft li {
	display:inline;
	float:left;
	margin-right:24px;
	width:150px;
	height:30px
}
.cat .cat-bd .cat-cont .cat-cont-bd .mod .mod-ft li .udata-spm-position-tip-container {
	display:block
}
.cat .cat-bd .cat-cont .cat-cont-bd .mod .mod-ft li img {
	display:block;
	width:150px;
	height:30px
}
.cat .cat-bd .cat-cont .cat-cont-shadow {
	z-index:4;
	position:absolute;
	top:2px;
	left:2px;
	background:#dfdfdf
}
.cat .cat-bd .cat-cont .cat-cont-close {
	z-index:5;
	position:absolute;
	top:11px;
	right:16px;
	display:none;
	width:35px;
	height:35px;
	background-position:-360px -160px
}
.cat .cat-bd .cat-cont .cat-cont-close:hover {
	background-position:-360px -200px
}
.cat .cat-shadow {
	z-index:1;
	position:absolute;
	top:2px;
	left:2px;
	width:150px;
	height:579px;
	background:#ebebeb
}
.cat-b .cat-bd .cat-cont .cat-cont-bd .mod .mod-hd {
	display:none
}
.cat-b .cat-bd .cat-cont .cat-cont-bd a {
	color: #000;
}
.cat-b .cat-bd .cat-cont .cat-cont-bd .mod .mod-ft {
	display:block;
	border-top:1px solid #eee
}
.cat-b .cat-bd .cat-cont .cat-cont-bd .mod .mod-ft li {
	padding-top:10px
}
.cat-c .cat-bd .cat-cont .cat-cont-bd {
	padding:56px 15px 15px
}
.cat-c .cat-bd .cat-cont .cat-cont-bd .mod .mod-hd {
	display:none
}
.cat-c .cat-bd .cat-cont .cat-cont-bd .mod .mod-ft {
	position:absolute;
	top:15px;
	left:15px;
	display:block;
	border-bottom:1px solid #eee
}
.cat-c .cat-bd .cat-cont .cat-cont-bd .mod .mod-ft li {
	padding-bottom:10px
}
