<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <link rel="icon" href="__ROOT__/Public/img/favicon.ico" type="image/ico">
	<title>查看收益</title>
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/new-resizer.css">
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/new-recommends.css">
	<script type="text/javascript" src="__ROOT__/Public/js/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="__ROOT__/Public/js/al-index.js"></script>
</head>
<body>
	<include file="Public:newHeader"/>
	<div class="wrap">
		<div class="ms1 clearfix">
			<div class="m1-l fl-lef">
				<img src="/Public/img/rcmd-img/reco-icon.png" alt="">
				<span>推荐人用户中心</span>
				<img src="/Public/img/rcmd-img/reco-icon.png" alt="">
			</div>
			<div class="m1-r fl-rig">
				<span class="gjz dis-block dis-inlin fl-lef">关键字</span>
				<div class="search dis-inlin fl-lef">
					<input id="searchbox" class="dis-block dis-inlin post fl-lef" value="" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; JAVA &nbsp; Android &nbsp; IOS " type="text">
					<span class="btn hover-hand dis-block dis-inlin post fl-lef btn-search">
						<img src="/Public/img/new-index/position-btn.png" alt="">
					</span>
				</div>
			</div>
		</div>
		<div class="ms2 clearfix">
			<div class="m2-l fl-lef">
				<div class="odiv hover-hand">
					<span>1</span>
					<h6 class="tit1">完善资料<em></em></h6>
					<p class="tx m">完成之后可以推荐候选人</p>
				</div>
				<i class="dis-block"><img src="/Public/img/rcmd-img/btmjd.png" alt=""></i>
				<div class="odiv hover-hand">
					<span>2</span>
					<h6 class="tit2">维护候选人<em></em></h6>
					<p class="jlk">(简历库)</p>
					<p class="tx">完成之后可以推荐候选人</p>
				</div>
				<i class="dis-block"><img src="/Public/img/rcmd-img/btmjd.png" alt=""></i>
				<div class="odiv hover-hand">
					<span>3</span>
					<h6 class="tit3">推荐职位<em></em></h6>
					<p class="tx">完成之后可以推荐候选人</p>
				</div>
				<i class="dis-block"><img src="/Public/img/rcmd-img/btmjd.png" alt=""></i>
				<div class="odiv hover-hand">
					<span>4</span>
					<h6 class="tit4">跟踪状态<em></em></h6>
					<p class="tx">完成之后可以推荐候选人</p>
				</div>
				<i class="dis-block"><img src="/Public/img/rcmd-img/btmjd.png" alt=""></i>
				<div class="odiv m hover-hand">
					<span>5</span>
					<h6 class="tit5 m">查看收益<em class="m"></em></h6>
					<p class="tx m">完成之后可以推荐候选人</p>
				</div>
			</div>
			<div class="m2-r fl-rig">
				<ul class="nav nav2">
					<li class="m dis-block dis-inlin first fl-lef"><a class="m">资金明细</a></li>
					<li class="dis-block dis-inlin fl-lef"><a>申请提现</a></li>
				</ul>
				

				<div class="fund-details track-state" style="display:block">
					<table>
						<tbody>
							<tr class="t">
								<th>序号</th>
								<th>事项</th>
								<th>发生金额（元）</th>
								<th>余额（元）</th>
								<th>日期</th>
							</tr>
							<tr>
								<td class="wh47 wk">1</td>
								<td class="wh199 wk"></td>
								<td class="wh260 wk"></td>
								<td class="wh111 wk">5000</td>
								<td class="wh113 wk">2015-5-22</td>
							</tr>
							<tr>
								<td class="wh47 wk">2</td>
								<td class="wh199 wk"></td>
								<td class="wh260 wk"></td>
								<td class="wh111 wk">5000</td>
								<td class="wh113 wk">2015-5-22</td>
							</tr>
							<tr>
								<td class="wh47 wk">3</td>
								<td class="wh199 wk"></td>
								<td class="wh260 wk"></td>
								<td class="wh111 wk">5000</td>
								<td class="wh113 wk">2015-5-22</td>
							</tr>
							<tr>
								<td class="wh47 wk">4</td>
								<td class="wh199 wk"></td>
								<td class="wh260 wk"></td>
								<td class="wh111 wk">5000</td>
								<td class="wh113 wk">2015-5-22</td>
							</tr>
							<tr>
								<td class="wh47 wk">5</td>
								<td class="wh199 wk"></td>
								<td class="wh260 wk"></td>
								<td class="wh111 wk">5000</td>
								<td class="wh113 wk">2015-5-22</td>
							</tr>
							<tr>
								<td class="wh47 wk">6</td>
								<td class="wh199 wk"></td>
								<td class="wh260 wk"></td>
								<td class="wh111 wk">5000</td>
								<td class="wh113 wk">2015-5-22</td>
							</tr>
							<tr>
								<td class="wh47 wk">7</td>
								<td class="wh199 wk"></td>
								<td class="wh260 wk"></td>
								<td class="wh111 wk">5000</td>
								<td class="wh113 wk">2015-5-22</td>
							</tr>
							<tr>
								<td class="wh47 wk">8</td>
								<td class="wh199 wk"></td>
								<td class="wh260 wk"></td>
								<td class="wh111 wk">5000</td>
								<td class="wh113 wk">2015-5-22</td>
							</tr>
							<tr>
								<td class="wh47 wk">9</td>
								<td class="wh199 wk"></td>
								<td class="wh260 wk"></td>
								<td class="wh111 wk">5000</td>
								<td class="wh113 wk">2015-5-22</td>
							</tr>
							<tr>
								<td class="wh47 wk">10</td>
								<td class="wh199 wk"></td>
								<td class="wh260 wk"></td>
								<td class="wh111 wk">5000</td>
								<td class="wh113 wk">2015-5-22</td>
							</tr>
							<tr>
								<td class="wh47 wk">11</td>
								<td class="wh199 wk"></td>
								<td class="wh260 wk"></td>
								<td class="wh111 wk">5000</td>
								<td class="wh113 wk">2015-5-22</td>
							</tr>
							<tr>
								<td class="wh47 wk">12</td>
								<td class="wh199 wk"></td>
								<td class="wh260 wk"></td>
								<td class="wh111 wk">5000</td>
								<td class="wh113 wk">2015-5-22</td>
							</tr>
							<tr>
								<td class="wh47 wk">13</td>
								<td class="wh199 wk"></td>
								<td class="wh260 wk"></td>
								<td class="wh111 wk">5000</td>
								<td class="wh113 wk">2015-5-22</td>
							</tr>
							<tr>
								<td class="wh47 wk">14</td>
								<td class="wh199 wk"></td>
								<td class="wh260 wk"></td>
								<td class="wh111 wk">5000</td>
								<td class="wh113 wk">2015-5-22</td>
							</tr>
							<tr>
								<td class="wh47 wk">15</td>
								<td class="wh199 wk"></td>
								<td class="wh260 wk"></td>
								<td class="wh111 wk">5000</td>
								<td class="wh113 wk">2015-5-22</td>
							</tr>

						</tbody>
					</table>
					<div class="inner clearfix">
						<div class="form clearfix dis-inlin fl-rig dis-block">
							<span class="text dis-block dis-inlin fl-lef">跳转到第</span>
							<input class="input dis-block dis-inlin fl-lef" type="text">
							<span class="text dis-block dis-inlin fl-lef">页</span>
							<span class="btn dis-block dis-inlin fl-lef">确定</span>
						</div>
						<ul class="clearfix dis-inlin fl-rig dis-block">
							<li class="prev dis-block dis-inlin fl-lef">|<</li>
							<li class="itme active dis-block dis-inlin fl-lef"><a href="">1</a></li>
							<li class="itme dis-block dis-inlin fl-lef"><a href="">2</a></li>
							<li class="itme dis-block dis-inlin fl-lef"><a href="">3</a></li>
							<li class="itme dis-block dis-inlin fl-lef"><a href="">4</a></li>
							<li class="itme dis-block dis-inlin fl-lef"><a href="">5</a></li>
							<li class="next dis-block dis-inlin fl-lef">>|</li>
							<div class="total dis-block dis-inlin fl-lef">共100页，</div>
						</ul>
					</div>
				</div>
				<div class="apply-for" style="display:none">
					<div class="con">
						<div class="clearfix">
							<em class="dis-inlin em1 dis-block fl-lef">申请提现：</em>
							<input class="dis-inlin dis-block fl-lef" type="text">
							<b class="dis-inlin dis-block fl-lef">(元)</b>
							<p style="margin-left:20px;" class="error dis-inlin fl-lef">错误错误错误错误</p>
						</div>
						<div class="clearfix">
							<em  class="dis-inlin em1 dis-block fl-lef">提示：</em>
							<p  class="dis-inlin p1 dis-block fl-lef">取出金额在两个工作日内到帐，每次手续费5元。</p>
						</div>
						<div class="clearfix btn">
							<button class="m">确定</button>
							<button>取消</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<include file="Public:newFooter"/>
	<script>
		$(".m2-l>div").click(function(){
			$(this).addClass("m");
			$(this).find("h6").addClass("m");
			$(this).find("p").addClass("m");
			$(this).siblings().removeClass("m")
			$(this).siblings().find("h6").removeClass("m");
			$(this).siblings().find("p").removeClass("m");
		});
		var index;
		var list = $(".m2-r .nav li");
		var divs = $(".m2-r>div");
		list.on("click",function(){
			that = $(this);
			index = that.index();
			that.addClass("m").siblings().removeClass("m");
			$(this).find("a").addClass("m").parent("li").siblings().find("a").removeClass("m");
			divs.eq(index).show().siblings("div").hide();
		});
		$(".apply-for .con .btn button").click(function(){
			$(this).addClass("m").siblings().removeClass("m");
		})
	</script>
</body>

</html>