<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <link rel="icon" href="__ROOT__/Public/img/favicon.ico" type="image/ico">
	<title>推荐职位</title>
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/new-resizer.css">
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/new-recommends.css">
	<script type="text/javascript" src="__ROOT__/Public/js/jquery-1.11.0.min.js"></script>
</head>
<body>
	<include file="Public:company_menu_header"/>
	<div class="wrap">
		<div class="post-datel clearfix">
            <div class="public-t">
            	<div class="t-head">
            		<div class="con">
            			<div class="l dis-inlin dis-block fl-lef" style="width:100%;">
            				<span class="dis-block dis-inlin fl-lef logo"></span>
            				<h2 class="myh2 fl-lef dis-inlin">联合至上文化发展有限公司</h2>
            			</div>
            		</div>
            	</div>
            	<div class="contant clearfix">
            		<div class="l dis-inlin fl-lef">
            			<ul>
            				<li class="clearfix"><em class="dis-block dis-inlin fl-lef">地址：</em><span class="dis-block dis-inlin fl-lef">北京市海淀区民族语如2014号</span></li>
            				<li class="clearfix"><em class="dis-block dis-inlin fl-lef">公司性质：</em><span class="dis-block dis-inlin fl-lef">民营</span></li>
            				<li class="clearfix"><em class="dis-block dis-inlin fl-lef">公司行业：</em><span class="dis-block dis-inlin fl-lef">互联网\电子商务</span></li>
            				<li class="li1">
	            				<span>招聘人数2</span>
	            				<span>推荐人数3</span>
	            				<span>海淀区</span>
	            				<span>本科或以上</span>
	            				<span class="last-span">3年以上 </span>
            				</li>
            				<li class="clearfix"><em class="dis-block dis-inlin fl-lef">发布时间：</em><span class="dis-block dis-inlin fl-lef">2016-6-1</span></li>
            				<li class="clearfix"><em class="dis-block dis-inlin fl-lef">截止日期：</em><span class="dis-block dis-inlin fl-lef">2016-7-1</span></li>
            				<li class="clearfix"><em class="dis-block dis-inlin fl-lef">网址：</em><span class="dis-block dis-inlin fl-lef">www.renrenlie.com</span></li>
            				<li class="clearfix"><em class="dis-block dis-inlin fl-lef">规模：</em><span class="dis-block dis-inlin fl-lef">20-99人</span></li>
            				<li class="clearfix last-li">
								<span>招聘人数2</span>
	            				<span>推荐人数3</span>
	            				<span>海淀区</span>
	            				<span>本科或以上</span>
            				</li>
            			</ul>
            		</div>
            		<div class="r r2 fl-rig">
            			<img src="/Public/img/rcmd-img/ditu.jpg" alt="">
            		</div>
            	</div>
            </div>
            <div class="public-c clearfix">
            	<ul class="nav clearfix">
            		<li class="hover-hand fl-lef dis-inlin m"><a href="" class="m">职位信息</a></li>
            		<li class="hover-hand fl-lef dis-inlin"><a href="">公司简介</a></li>
            	</ul>
            </div>
            <div class="public-f" style="">
	            <div class="cont">
	            	<h3>公司介绍</h3>
	            	<ul>
	            	    <li>1、负责整个网站改版网页制作、实现网站用户 啊阿迪傻得很傻得很傻得很傻得很交互效果1、负责整个网站改版网页制作、实现网站用户 啊阿迪傻得很傻得很傻得很傻得很交互效果1、负责整个网站改版网页制作、实现网站用户 啊阿迪傻得很傻得很傻得很傻得很交互效果1、负责整个网站改版网页制作、实现网站用户 啊阿迪傻得很傻得很傻得很傻得很交互效果1、负责整个网站改版网页制作、实现网站用户 啊阿迪傻得很傻得很傻得很傻得很交互效果</li>
	            	</ul>
                        <div class="job-list">
                            <h3 style="margin-top:33px;">职位搜索</h3>
                              <div class="clearfix list">
                                    <span class="np-logo dis-block dis-inlin fl-lef">
                                          <img src="/Public/img/mdwx.png" alt="" width="50px" height="50px">
                                    </span>
                                    <ul class="r fl-rig">
                                          <li class="clearfix li1">
                                                <a href="/Home/Index/EnterIndex2/comid/355/jobid/cab05c59-4637-851f-f2f4-5551bc6f478b"><em class="dis-inlin dis-block fl-lef">IOS开发工程师</em></a>
                                                <span class="adrs dis-inlin dis-block fl-lef">[朝阳区]</span>
                                                <a href="/Home/Index/EnterIndex2/comid/355/jobid/cab05c59-4637-851f-f2f4-5551bc6f478b"><h6 class="dis-inlin dis-block fl-rig">阿里巴巴科技有限公司</h6></a>
                                          </li>
                                          <li class="clearfix li2">
                                                <span class="dis-inlin dis-block fl-lef">月薪：</span>
                                                <span class="dis-inlin dis-block fl-lef">20K-40K</span>
                                                <span class="dis-inlin dis-block fl-lef">应届毕业生</span>
                                                <span class="dis-inlin dis-block fl-lef">大专及以上</span>
                                                <div class="fl-rig dis-inlin dis-block">
                                              <span class="c-r dis-inlin dis-block fl-lef">所属行业：</span>
                                                      <span class="ic dis-inlin dis-block fl-lef">社交</span>                                                                               
                                                      <span class="c-r dis-inlin dis-block fl-lef">公司性质：</span>
                                                      <span class="ic dis-inlin dis-block fl-lef">民营企业</span>
                                                      <span class="c-r dis-inlin dis-block fl-lef">规模：</span> 
                                                      <span class="ic dis-inlin dis-block fl-lef">0-50人</span>
                                                </div>
                                                
                                          </li>
                                          <li class="clearfix li3">
                                                <em class="c3-l   dis-inlin dis-block fl-lef">候选人成功入职，你即得奖励  <i>￥8000</i></em>
                                                <span class="c-r dis-inlin dis-block fl-rig">[2015-05-25]</span>
                                          </li>
                                    </ul>
                              </div>

                              <div class="clearfix list">
                                    <span class="np-logo dis-block dis-inlin fl-lef">
                                          <img src="/Public/img/mdwx.png" alt="" width="50px" height="50px">
                                    </span>
                                    <ul class="r fl-rig">
                                          <li class="clearfix li1">
                                                <a href="/Home/Index/EnterIndex2/comid/355/jobid/cab05c59-4637-851f-f2f4-5551bc6f478b"><em class="dis-inlin dis-block fl-lef">IOS开发工程师</em></a>
                                                <span class="adrs dis-inlin dis-block fl-lef">[朝阳区]</span>
                                                <a href="/Home/Index/EnterIndex2/comid/355/jobid/cab05c59-4637-851f-f2f4-5551bc6f478b"><h6 class="dis-inlin dis-block fl-rig">阿里巴巴科技有限公司</h6></a>
                                          </li>
                                          <li class="clearfix li2">
                                                <span class="dis-inlin dis-block fl-lef">月薪：</span>
                                                <span class="dis-inlin dis-block fl-lef">20K-40K</span>
                                                <span class="dis-inlin dis-block fl-lef">应届毕业生</span>
                                                <span class="dis-inlin dis-block fl-lef">大专及以上</span>
                                                <div class="fl-rig dis-inlin dis-block">
                                              <span class="c-r dis-inlin dis-block fl-lef">所属行业：</span>
                                                      <span class="ic dis-inlin dis-block fl-lef">社交</span>                                                                               
                                                      <span class="c-r dis-inlin dis-block fl-lef">公司性质：</span>
                                                      <span class="ic dis-inlin dis-block fl-lef">民营企业</span>
                                                      <span class="c-r dis-inlin dis-block fl-lef">规模：</span> 
                                                      <span class="ic dis-inlin dis-block fl-lef">0-50人</span>
                                                </div>
                                                
                                          </li>
                                          <li class="clearfix li3">
                                                <em class="c3-l   dis-inlin dis-block fl-lef">候选人成功入职，你即得奖励  <i>￥8000</i></em>
                                                <span class="c-r dis-inlin dis-block fl-rig">[2015-05-25]</span>
                                          </li>
                                    </ul>
                              </div>

                              <div class="clearfix list">
                                    <span class="np-logo dis-block dis-inlin fl-lef">
                                          <img src="/Public/img/mdwx.png" alt="" width="50px" height="50px">
                                    </span>
                                    <ul class="r fl-rig">
                                          <li class="clearfix li1">
                                                <a href="/Home/Index/EnterIndex2/comid/355/jobid/cab05c59-4637-851f-f2f4-5551bc6f478b"><em class="dis-inlin dis-block fl-lef">IOS开发工程师</em></a>
                                                <span class="adrs dis-inlin dis-block fl-lef">[朝阳区]</span>
                                                <a href="/Home/Index/EnterIndex2/comid/355/jobid/cab05c59-4637-851f-f2f4-5551bc6f478b"><h6 class="dis-inlin dis-block fl-rig">阿里巴巴科技有限公司</h6></a>
                                          </li>
                                          <li class="clearfix li2">
                                                <span class="dis-inlin dis-block fl-lef">月薪：</span>
                                                <span class="dis-inlin dis-block fl-lef">20K-40K</span>
                                                <span class="dis-inlin dis-block fl-lef">应届毕业生</span>
                                                <span class="dis-inlin dis-block fl-lef">大专及以上</span>
                                                <div class="fl-rig dis-inlin dis-block">
                                              <span class="c-r dis-inlin dis-block fl-lef">所属行业：</span>
                                                      <span class="ic dis-inlin dis-block fl-lef">社交</span>                                                                               
                                                      <span class="c-r dis-inlin dis-block fl-lef">公司性质：</span>
                                                      <span class="ic dis-inlin dis-block fl-lef">民营企业</span>
                                                      <span class="c-r dis-inlin dis-block fl-lef">规模：</span> 
                                                      <span class="ic dis-inlin dis-block fl-lef">0-50人</span>
                                                </div>
                                                
                                          </li>
                                          <li class="clearfix li3">
                                                <em class="c3-l   dis-inlin dis-block fl-lef">候选人成功入职，你即得奖励  <i>￥8000</i></em>
                                                <span class="c-r dis-inlin dis-block fl-rig">[2015-05-25]</span>
                                          </li>
                                    </ul>
                              </div>

                              <div class="clearfix list">
                                    <span class="np-logo dis-block dis-inlin fl-lef">
                                          <img src="/Public/img/mdwx.png" alt="" width="50px" height="50px">
                                    </span>
                                    <ul class="r fl-rig">
                                          <li class="clearfix li1">
                                                <a href="/Home/Index/EnterIndex2/comid/355/jobid/cab05c59-4637-851f-f2f4-5551bc6f478b"><em class="dis-inlin dis-block fl-lef">IOS开发工程师</em></a>
                                                <span class="adrs dis-inlin dis-block fl-lef">[朝阳区]</span>
                                                <a href="/Home/Index/EnterIndex2/comid/355/jobid/cab05c59-4637-851f-f2f4-5551bc6f478b"><h6 class="dis-inlin dis-block fl-rig">阿里巴巴科技有限公司</h6></a>
                                          </li>
                                          <li class="clearfix li2">
                                                <span class="dis-inlin dis-block fl-lef">月薪：</span>
                                                <span class="dis-inlin dis-block fl-lef">20K-40K</span>
                                                <span class="dis-inlin dis-block fl-lef">应届毕业生</span>
                                                <span class="dis-inlin dis-block fl-lef">大专及以上</span>
                                                <div class="fl-rig dis-inlin dis-block">
                                              <span class="c-r dis-inlin dis-block fl-lef">所属行业：</span>
                                                      <span class="ic dis-inlin dis-block fl-lef">社交</span>                                                                               
                                                      <span class="c-r dis-inlin dis-block fl-lef">公司性质：</span>
                                                      <span class="ic dis-inlin dis-block fl-lef">民营企业</span>
                                                      <span class="c-r dis-inlin dis-block fl-lef">规模：</span> 
                                                      <span class="ic dis-inlin dis-block fl-lef">0-50人</span>
                                                </div>
                                                
                                          </li>
                                          <li class="clearfix li3">
                                                <em class="c3-l   dis-inlin dis-block fl-lef">候选人成功入职，你即得奖励  <i>￥8000</i></em>
                                                <span class="c-r dis-inlin dis-block fl-rig">[2015-05-25]</span>
                                          </li>
                                    </ul>
                              </div>
                        </div>
	            </div>
            </div>
		</div>
	</div>
	<include file="Public:newFooter"/>
	<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>	
</body>
</html>