
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="/Public/img/favicon.ico" type="image/ico">
        <title>职位详情-Android-人人猎</title>
        <meta name="keywords" content="人人猎,人人猎网，人人猎头,renrenlie.com,www.renrenlie.com,人人猎首页,人人猎官网，人人都是猎头" />
        <meta name="description" content="人人猎（www.renrenlie.com)是企业低成本极速直招平台，让企业一周内搞定招聘需求，为推荐人提供“人力资源”变现通道。" />
        <link rel="stylesheet" type="text/css" href="/Public/css/new-resizer.css">
        <link rel="stylesheet" type="text/css" href="/Public/css/focuspic2.css">
        <link rel="stylesheet" href="/Public/css/menu_v2.css">
        <link rel="stylesheet" type="text/css" href="/Public/css/boss.css">
        <link rel="stylesheet" type="text/css" href="/Public/css/new-index.css">
        <link rel="stylesheet" type="text/css" href="/Public/css/new-recommends.css">
        <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript" src="/Public/js/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="/Public/js/focuspic2.js"></script>
        <script type="text/javascript" src="/Public/js/menu_v2.js"></script>
        <script type="text/javascript" src="/Public/js/al-index.js"></script>
        <script type="text/javascript" src="/Public/js/window.js"></script>
    </head>
    <body>
        <div class="mask" id="mask" ></div>
        <div id="" class="denglu"  id="odl">
            <a href="/"><h3 class="dl2_hd"></h3></a>
            <dl>
                <dt style="width:100%;border:none;">
                <p style="margin-top:40px;height:50px;line-height:30px;font-size:20px;text-align:center;color:#2284bb">欢迎来到人人猎，查看职位明细信息！<br>请选择快速登录</p>
                <ul class="clearfix ul_ul1">
                    <li class="li_1"><a href="/Home/Index/login/type/qq.html"><img src="/Public/img/qq_icon.png"></a></li>
                    <!--<li><a href="/Home/Index/login/type/qq.html"><img src="/Public/img/qq2.png"></a></li> -->
                    <li class="li_1"><a href="/Home/Index/login/type/sina.html"><img src="/Public/img/weibo.png"></a></li>
                    <!-- <li class="li_1"><img src="/Public/img/weixin2.png"></li> -->
                    <li class="li_1"><a href="/Home/Index/login/type/weixin.html"><img src="/Public/img/weixin.png"></a></li>
                    <li class="li_1"><a href="/Home/Index/login/type/renren.html"><img src="/Public/img/renren.png"></a></li>

                </ul>
                <p style="margin-top:65px;text-align:right;padding-right:20px"><a style="font-size:12px;margin-left:5px;color:#2284bb" href="javascript:;" id="odengluBon">登录</a><a style="margin-left:10px;font-size:12px;color:#2284bb" href="javascript:;" id="ozhuceBon">注册</a></p>
                </dt>
            </dl>
        </div>
        <div class="pc-zhuce" style="display: none" id='conZhuce'>
            <h3></h3>
            <dl>
                <dt>
                <ul class="pc-nav">
                    <li class="nav1 mover3" id='tjrzc'>推荐人<input type="hidden" name="usertype" value="0"/></li>
                    <li class="nav2" id='qyzc'>招聘企业</li>
                </ul>
                <ul class="list">
                    <li><input type="text" name="username" value="请输入用户名" default="请输入用户名"></li>
                    <li><input type="text" name="mobile" value="请输入手机号" default="请输入手机号"></li>
                    <li><input type="text" class="vfition" name="vfition" value="请输入验证码" default="请输入验证码"><label class="vfit_btn1" style="display: block" id="get_reg_code">获取验证码</label><label class="vfit_btn2"  style="display: none"><i>60</i>秒后重新获取</label></li>
                    <li><input type="text" class="possword"  name="possword" value="请输入密码" default="请输入密码" ></li>
                    <p id="zhuceerror" style="display: none">您输入的密码不合格</p>
                </ul>
                <div class="yanzheng">
                    <input class="radio1" type="radio" name="xieyi" id="xieyaya">
                    <span>已阅读并接受人人猎网<a href="javascript:;" id="xieyisss">《用户协议和隐私条款》</a></span>
                </div>
                <button id="register">确认</button>
                </dt>
                <dd>
                    <div class="yd">
                        <span>已有账号</span>
                        <em id="denglu3">点此登录</em>
                    </div>
                    <p>使用联合账号登录</p>
                    <ul class="Sign" >
                        <li><a href="/Home/Index/login/type/qq.html"><img src="/Public/img/qq_icon.png"></a></li>
                        <li><a href="/Home/Index/login/type/sina.html"><img src="/Public/img/weibo.png"></a></li>
                        <li><a href="/Home/Index/login/type/weixin.html"><img src="/Public/img/weixin.png"></a></li>
                        <li><a href="/Home/Index/login/type/renren.html"><img src="/Public/img/renren.png"></a></li>
                    </ul>
                    <ul class="Grey" style="display:none">
                        <li><img src="/Public/img/qq2.png"></li>
                        <li><img src="/Public/img/Sina2.png"></li>
                        <li><img src="/Public/img/weixin2.png"></li>
                        <li><img src="/Public/img/renren2.png"></li>
                    </ul>
                </dd>
            </dl>
        </div>
        <script>
            $(function() {
                $(".pc-zhuce .close").click(function() {
                    $(".mask").hide();
                    $(".pc-zhuce").hide();
                });
                $(".possword").focus(function() {
                    if ($(this).attr("default") == $(this).val()) {
                        $(this).attr("type", "password");
                    }
                });
                $(".possword").blur(function() {
                    if (!$(this).val()) {
                        $(this).attr("type", "text");
                    }

                });
                $("#register").attr("disabled", false);
                $(".nav2").click(function() {
                    $(".Grey").show();
                    $(".Sign").hide();
                    $(".nav1").removeClass("mover3");
                    $(this).addClass("mover3");
                    $("input[name='usertype']").val(1);
                });
                $(".nav1").click(function() {
                    $(".Grey").hide();
                    $(".Sign").show();
                    $(".nav2").removeClass("mover3");
                    $(this).addClass("mover3");
                    $("input[name='usertype']").val(0);
                });
                $(".pc-zhuce .list input").focus(function() {
                    $(this).css("color", "black");
                    if ($(this).val() == $(this).attr("default")) {
                        $(this).val("");
                    }
                });
                $(".pc-zhuce .list input").blur(function() {
                    if (!$(this).val()) {
                        $(this).css("color", "");
                        $(this).val($(this).attr("default"));
                    }
                });
                $("input[name='username']").blur(function() {
                    if (/^[\@A-Za-z\!\#\$\%\^\&\*\.\~]{2,}[\@A-Za-z0-9\!\#\$\%\^\&\*\.\~]{2,16}$/.test($(this).val())) {
                        $("#zhuceerror").hide();
                    } else {
                        $(this).focus();
                        $("#zhuceerror").html("请输入4-16位的英文字母，数字，下划线");
                        $("#zhuceerror").show();
                    }
                    if (!$(this).val()) {
                        $(this).css("color", "");
                        $(this).val($(this).attr("default"));
                        //  $(this).next().show();
                        //  $(this).next().text("请输入用户名"); 
                    }
                });
                //手机获取验证码
                $("#get_reg_code").click(function() {
                    var usertype = $("input[name='usertype']").val();
                    var mobile = $("input[name='mobile']").val();
                    var reg = /^1[3|4|5|8][0-9]\d{4,8}$/;
                    if (mobile == "请输入手机号") {
                        $("input[name='mobile']").focus();
                        $("#zhuceerror").html("请输入手机号码");
                        $("#zhuceerror").show();
                        return false;
                    }
                    /*
                    if (!reg.test(mobile))
                    {
                        $("input[name='mobile']").focus();
                        $("#zhuceerror").html("请正确输入手机号码");
                        $("#zhuceerror").show();
                        return false;
                    }
                    */
                    $(".vfit_btn1").attr("disabled", "disabled");
                    $.post("/Home/Index/getRegCode", {
                        'mobile': mobile,
                        'usertype': usertype
                    }, function(data) {
                        if (data.code != 200) {
                            $(".vfit_btn1").attr("disabled", "");
                            $("#zhuceerror").html(data.msg);
                            $("#zhuceerror").show();
                            return false;
                        } else {
                            time($(".vfit_btn1"));
                            $("#zhuceerror").hide();
                            $(".vfit_btn1").hide();
                            $(".vfit_btn2").show();
                        }
                    }, "json")
                });
                $("#zhuce").click(function() {
                    $(".Grey").hide();
                    $(".Sign").show();
                    $(".nav2").removeClass("mover3");
                    $(".nav1").addClass("mover3");
                    $("input[name='usertype']").val(0);
                    $(".mask").show();
                    $(".pc-zhuce").show();
                });
                $("#register").click(function() {
                    var username = $("input[name='username']").val();
                    var mobile = $("input[name='mobile']").val();
                    var vfition = $("input[name='vfition']").val();
                    var password = $("input[name='possword']").val();
                    var dd = document.getElementById("xieyaya").checked;
                    var usertype = $("input[name='usertype']").val();

                    if (!username || username === "请输入用户名") {
                        $("input[name='username']").focus();
                        $("#zhuceerror").html("请输入用户名称！");
                        $("#zhuceerror").show();
                        return false;
                    }
                    if (/^[\@A-Za-z\!\#\$\%\^\&\*\.\~]{2,}[\@A-Za-z0-9\!\#\$\%\^\&\*\.\~]{2,16}$/.test(username)) {
                        $("#zhuceerror").hide();
                    } else {
                        $("input[name='username']").focus();
                        $("#zhuceerror").html("请输入4-16位的英文字母，数字，下划线");
                        $("#zhuceerror").show();
                        return false;
                    }
                    var reg = /^1[3|4|5|8][0-9]\d{4,8}$/;
                    if (mobile == "请输入手机号") {
                        $("input[name='mobile']").focus();
                        $("#zhuceerror").html("请输入手机号码");
                        $("#zhuceerror").show();
                        return false;
                    }
                    /*
                    if (!reg.test($.trim(mobile)))
                    {
                        $("input[name='mobile']").focus();
                        $("#zhuceerror").html("请正确输入手机号码");
                        $("#zhuceerror").show();
                        return false;
                    }
                    */
                    if (!vfition || vfition == "请输入验证码") {
                        $("input[name='vfition']").focus();
                        $("#zhuceerror").html("请输入验证码");
                        $("#zhuceerror").show();
                        return false;
                    }
                    if (!password || password == "请输入密码") {
                        $("input[name='possword']").focus();
                        $("#zhuceerror").html("密码不能为空");
                        $("#zhuceerror").show();
                        return false;
                    }

                    if (password.length == 0)
                    {
                        $("input[name='possword']").focus();
                        $("#zhuceerror").html("密码不能为空");
                        $("#zhuceerror").show();
                        //focus_input("regpassword");
                        return false;
                    }
                    else if (password.length < 6 || password.length > 16)
                    {

                        $("input[name='possword']").focus();
                        $("#zhuceerror").html("密码应为6-16个字符之间");
                        $("#zhuceerror").show();
                        return false;
                    }
                    else
                    {
                        var preg = /[`,，。;；'"‘’“” \u4e00-\u9fa5　]+/;
                        if (preg.test(password))
                        {

                            $("input[name='possword']").focus();
                            $("#zhuceerror").html("密码不能含有特殊字符");
                            $("#zhuceerror").show();

                            return false;
                        }
                        else
                        {
                            //验证密码复杂度
                            var preg1 = /^[0-9]{6,}$/;
                            var preg2 = /^[a-zA-Z]{6,}$/;
                            if (preg1.test(password) || preg2.test(password))
                            {
                                $("input[name='possword']").focus();
                                $("#zhuceerror").html("密码不能是纯字母或纯数字");
                                $("#zhuceerror").show();

                                //focus_input("regpassword");
                                return false;
                            }
                            else
                            {
                                $("#zhuceerror").hide();
                            }
                        }

                    }
                    if (dd == false) {
                        $("#zhuceerror").html("请接受人人猎《用户协议和隐私条款》！");
                        $("#zhuceerror").show();
                        return false;
                    }
                    $("#register").attr("disabled", "disabled");
                    $.post("/Home/Index/addUser", {
                        'username': username,
                        'mobile': mobile,
                        'code': vfition,
                        'password': password,
                        'usertype': usertype
                    }, function(data) {

                        if (data.code != "200") {
                            $("#register").attr("disabled", false);
                            $("#zhuceerror").html(data.msg);
                            $("#zhuceerror").show();
                        } else {
                            location.href = data.msg;
                        }
                    }, "json")
                });
            })
            var wait = 60;
            function time(o) {
                if (wait == 0) {

                    o.attr("disabled", "disabled");
                    $(".vfit_btn1").show();
                    $(".vfit_btn2").hide();
                    wait = 60;
                } else {
                    o.attr("disabled", "");
                    $(".vfit_btn2 i").html(wait);
                    wait--;
                    setTimeout(function() {
                        time(o)
                    },
                            1000)
                }

            }
        </script>
        <div  class="denglu dengluBtn2">
            <a class="Close"></a>
            <h3></h3>
            <dl>
                <dt>
                <ul class="InputUl">
                    <li><input class="DLUser" type="text" name="usernamees" value='fenghuihui'/><span></span></li>
                    <li><input class="DLpassword" type="password" name="passwordes" value='qqqqqq'/><span></span></li>
                    <p class="error2"></p>
                </ul>
                <div class="yanzheng">
                    <input type="checkbox" id="remembeme" checked>
                    <span>记住我<a href="/Home/Index/findpwd.html">忘记密码？</a></span>
                </div>
                <input type="submit" class="zhucequeren" value="确认" id="denglubutton">
                <div class="weixin_img">
                    <img src="/Public/img/erweima_img.jpg" alt="">
                </div>
                </dt>
                <dd>
                    <div class="yd">
                        <span>还没账号</span>
                        <em id="dengluBtn2">点此注册</em>
                    </div>
                    <p><a href="">使用联合账号登录</a></p>
                    <ul>
                        <li><a href="/Home/Index/login/type/qq.html"><img src="/Public/img/qq_icon.png"></a></li>
                        <!-- <li><a href="/Home/Index/login/type/qq.html"><img src="/Public/img/qq2.png"></a></li> -->
                        <li><a href="/Home/Index/login/type/sina.html"><img src="/Public/img/weibo.png"></a></li>
                        <li><a href="/Home/Index/login/type/weixin.html"><img src="/Public/img/weixin.png"></a></li>
                        <!-- <li class="dl_weixin"><img src="/Public/img/weixin.png"></li> -->
                        <li><a href="/Home/Index/login/type/renren.html"><img src="/Public/img/renren.png"></a></li>
                    </ul>
                </dd>
            </dl>
        </div>
        <div class="cfid">
            <a class="Close2" id="colosewindowd"></a>
            <h3><img src="/Public/img/denglu_hed.png" alt=""></h3>
            <ul>
                <li><b id="helloname">Robin您好！</b></li>
                <li>系统检测到你有另外一个相同的用于<span>推荐人</span>登录的用户ID<br>请你下次使用以下ID登录<span>推荐人页面</span></li>
                <li><div id="updatename">hrRobin</div></li>
                <li>
                    <input type="hidden" id="hrefUrl">
                    <input class="btn" type="button" value="我知道了" id="colosewindowds"></li>
            </ul>
        </div>

        <script>
            $(function() {
                $("#denglubutton").attr("disabled", false);
                $("#colosewindowd").click(function() {
                    $(".mask1").hide();
                    $(".mask").hide();
                    $(".cfid").hide();
                    $(".denglu").hide();
                    location.href = $("#hrefUrl").val();
                })
                $("#colosewindowds").click(function() {
                    $(".mask").hide();
                    $(".mask1").hide();
                    $(".cfid").hide();
                    $(".denglu").hide();
                    location.href = $("#hrefUrl").val();
                })
            })
            $("#denglubutton").click(function() {
                var username = $("input[name='usernamees']").val();
                var password = $("input[name='passwordes']").val();
                var remembeme = document.getElementById("remembeme").checked;

                if (!username) {
                    $('.error2').html('用户名不能为空')
                    $('.error2').show();
                    return false;
                } else if (!password) {
                    $('.error2').html('密码不能为空')
                    $('.error2').show();
                    return false;
                }
                var currentAction = $("#currentAction").val();

                if (currentAction) {

                    var enterIndexComId = $("#enterIndexComId").val();
                    var enterIndexJobId = $("#enterIndexJobId").val();
                } else {
                    currentAction = "";
                    enterIndexComId = 0;
                    enterIndexJobId = 0;
                }

                var url = "/Home/Index/userlogin"; //定义一个登陆地址，分别为用户名登陆地址和手机号登陆地址
                if (/^((13[0-9])|147|(15[0-35-9])|180|182|(18[5-9]))[0-9]{8}$/.test(username)) {
                    url = "/Home/Index/mobilelogin";
                }
                $.post(url, {
                    'username': username,
                    'password': password,
                    'currentAction': currentAction,
                    'enterIndexComId': enterIndexComId,
                    'enterIndexJobId': enterIndexJobId,
                    'remembeme': remembeme
                }, function(data) {

                    if (data.code == 200) {
                        location.href = data.msg;
                        return false;
                    } else if (data.code == 201) {
                        $("#helloname").html(username + "您好！");
                        $("#updatename").html("hr" + username);
                        $("#hrefUrl").val(data.msg);
                        $(".mask1").show();
                        $(".cfid").show();
                    } else {

                        $('.error2').html(data.msg)
                        $('.error2').show();
                        return false;
                    }
                }, "json")
            });
        </script>
        <div class="shalong">
            <a class="close"></a>
            <div class="header">
                <h2 class="fl-lef">人人猎线下沙龙报名</h2>
                <em class="fl-rig">（*）表示必填项</em>
            </div>
            <div class="con clearfix">

                <div class="l fl-lef">
                    <ul>
                        <li class="clearfix">
                            <em class="dis-inlin dis-block fl-lef name">姓&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp名</em>
                            <input placeholder="输入真实姓名,系统会对个人信息保密" class="dis-inlin dis-block fl-lef" type="text" id="name">
                        </li>
                        <li class="clearfix">
                            <em class="dis-inlin dis-block fl-lef">公&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp司</em>
                            <input placeholder="输入公司名称" class="dis-inlin dis-block fl-lef" type="text" id="company">
                        </li>
                        <li class="clearfix">
                            <em class="dis-inlin dis-block fl-lef">职&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp位</em>
                            <input placeholder="输入职位" class="dis-inlin dis-block fl-lef" type="text" id="jobposition">
                        </li>
                        <li class="clearfix">
                            <em class="dis-inlin dis-block fl-lef phone">手机号码</em>
                            <input placeholder="输入手机号码，用以接收沙龙活动短信息" class="dis-inlin dis-block fl-lef" type="text" id="mobile">
                        </li>
                        <li class="clearfix">
                            <em class="dis-inlin dis-block fl-lef">QQ&nbsp号码</em>
                            <input placeholder="输入QQ号码" class="dis-inlin dis-block fl-lef" type="text" id="qq">
                        </li>
                        <li class="clearfix">
                            <em class="dis-inlin dis-block fl-lef">微信号码</em>
                            <input placeholder="输入微信号码" class="dis-inlin dis-block fl-lef" type="text" id="weixin">
                        </li>
                    </ul>
                    <div style="height:18px;margin-top:-12px;"><p class="error" style="margin-left:145px;display: none;" id="salonError"></p></div>
                    <button class="btn" id="salonBtn">提交</button>
                </div>
                <div class="r fl-rig">
                    <p>感兴趣的话题</p>
                    <textarea placeholder="" id="topic"></textarea>
                    <p style="margin-top:12px;">建议（对人人猎）</p>
                    <textarea placeholder="" id="advice"></textarea>
                </div>
                <img class="sl-img" src="/Public/img/rcmd-img/sl-pic.png"/>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function() {
                $(".shalong .close").click(function() {
                    $(this).parent().hide();
                    $(".mask").hide();
                })

                $(".shalong-btn").click(function() {
                    $(".shalong").show();
                    $('.mask').show();
                })
                $("#salonBtn")[0].disabled = false;
                $("#salonBtn").click(function() {

                    this.disabled = true;

                    var name = $("#name").val();
                    var mobile = $("#mobile").val();
                    var jobposition = $("#jobposition").val();
                    var company = $("#company").val();
                    var qq = $("#qq").val();
                    var weixin = $("#weixin").val();
                    var topic = $("#topic").val();
                    var advice = $("#advice").val();
                    if ($.trim(name) == "") {
                        this.disabled = false;
                        $("#salonError").show();
                        $("#salonError").html("请填写姓名");
                        return;
                    }
                    if ($.trim(mobile) == "") {
                        this.disabled = false;
                        $("#salonError").show();
                        $("#salonError").html("请填写手机号码");
                        return;

                    } else {
                        $.post("/Home/Active/signup_repeat_judged", {
                            'mobile': mobile,
                        }, function(data) {

                            if (data.code != "200") {
                                $("#salonBtn")[0].disabled = false;
                                $("#salonError").show();
                                $("#salonError").html(data.msg);
                                return;
                            } else {
                                $.post("/Home/Active/sign_up_save", {
                                    'name': name,
                                    'mobile': mobile,
                                    'jobposition': jobposition,
                                    'company': company,
                                    'qq': qq,
                                    'weixin': weixin,
                                    'topic': topic,
                                    'advice': advice,
                                }, function(data) {

                                    if (data.code != "200") {
                                        $("#salonBtn")[0].disabled = false;
                                        $("#salonError").show();
                                        $("#salonError").html(data.msg);
                                        return;
                                    } else {
                                        alert(data.msg);
                                        location.reload();
                                    }
                                }, "json");
                            }
                        }, "json");

                    }
                })
        //        $(".shalong").keyup(function (e) {
        //            if (e.keyCode == "13") {
        //                    $("#salonBtn").click();   //服务器控件loginsubmit点击事件被触发
        //                    return false;
        //        }
        //        })

            })

        </script>
        <div class="al-header">
            <div class="wrap">
                <div class="al-logo dis-inlin"><a href="/"><img src="/Public/img/new-index/al-logo.png" alt=""></a></div>
                <div class="al-nav dis-inlin fl-lef">
                    <ul>
                        <li class="dis-inlin fl-lef indx-li"><a  href="/Home/Index/index.html">首页</a></li>
                        <li class="dis-inlin fl-lef"><a  href="/Home/Index/search.html">职位</a></li>
                        <li class="dis-inlin fl-lef"><a  href="/Home/Index/anli.html">案例</a></li>
                        <li class="dis-inlin fl-lef"><a href="/Home/Active/salon_show.html">活动</a></li>
                    </ul>

                </div>
                <div class="al-right dis-inlin fl-rig" id="my-account">
                    <div class="mydiv clearfix" id="my-account2"><span class="m-user dis-block dis-inlin fl-lef">fenghuihui</span><span class="dis-block dis-inlin fl-rig account-jt"></span></div>

                    <dl class="mydl">
                        <dt class="fl-lef dis-inlin">
                        <span class="head" style="display: block">
                        </span>
                        <!-- <span class="btn">更换头像<input type="file" class="sc"></span> -->
                        </dt>
                        <dd class="fl-lef dis-inlin" id="my-data">
                            <a class="a1 m fl-lef dis-inlin" href="/Home/Login/userinfo.html"><img src="/Public/img/new-index/a1.png" alt="">完善资料</a>
                            <a class="a2 fl-lef dis-inlin" href="/Home/Login/JobSearch.html"><img src="/Public/img/new-index/a2.png" alt="">推荐职位</a>
                            <a class="a3 fl-lef dis-inlin" href="/Home/Login/Recording.html"><img src="/Public/img/new-index/a3.png" alt="">跟踪状态</a>
                            <a class="a4 fl-lef dis-inlin" href="/Home/Login/DetailsFunds.html"><img src="/Public/img/new-index/a4.png" alt="">查看收益</a> 
                            <a class="a5 fl-lef dis-inlin" href="/Home/Login/Recommended.html"><img src="/Public/img/new-index/a5.png" alt="">简历库</a>
                            <a class="a6 fl-lef dis-inlin" href="/Home/Login/logout.html"><img src="/Public/img/new-index/a6.png" alt="">退出登录</a>
                        </dd>
                    </dl>
                </div>

            </div>	
        </div>

        <div class="wrap">
            <div class="step2">
                <div class="odiv1">
                    <span class="sp1">第一步</span>
                    <span>第二步</span>
                    <span class="sp3">第三步</span>
                </div>
                <div class="odiv2">
                    <img src="/Public/img/rcmd-img/step2.png" alt="">
                </div>
                <div class="odiv3 clearfix">
                    <div class="fl-lef m">
                        <h5 class="m">选择要推荐的职位</h5>
                        <b class="m dis-block dis-inlin">Android</b>
                    </div>
                    <span class="dis-inlin dis-inlin fl-lef">我要推荐</span>
                    <div class="fl-lef div2">
                        <h5>选择并推荐候选人</h5>
                        <b class="dis-block dis-inlin"></b>
                    </div>
                    <span class="dis-inlin dis-inlin fl-lef sp2">立即推荐</span>
                    <div class="fl-lef last-div">
                        <h5>确认推荐</h5>
                        <b class="dis-block dis-inlin"></b>
                    </div>
                </div>
            </div>
            <div class="post-datel clearfix">
                <div class="public-t">
                    <div class="t-head">
                        <div class="con">
                            <div class="l dis-inlin dis-block fl-lef">
                                <h2>Android</h2>
                                <p>北京少东家电子商务有限公司</p>
                            </div>
                            <div class="r dis-inlin dis-block fl-rig">
                                <form action="/Home/Login/RecommendTheCandidate/position/Android/comid/335/jobid/578.html" method="post"  id='recordFrom2'>
                                    <span class="hover-hand dis-block btn"  onclick="checkuseres(2)">我要推荐</span>
                                </form>
                                <span class="hover-hand collection" id="colloctJob" jid="578"></span>
                            </div>
                        </div>
                    </div>
                    <div class="contant clearfix">
                        <div class="l dis-inlin fl-lef">
                            <h3 class="clearfix">
                                <em class="dis-block dis-inlin fl-lef">12000-15000元 </em>
                                <span class="dis-block dis-inlin fl-rig">候选人成功入职，你即得奖励 ￥2400</span>
                            </h3>
                            <ul style="width:530px;">
                                <li class="li1">
                                    <span>招聘人数：1</span>
                                    <span>推荐人数：<i>3</i></span>
                                    <span>昌平区</span>
                                    <span>本科及以上</span>
                                    <span class="last-span">1-3年工作经验 </span>
                                </li>
                                <li class="clearfix"><em class="dis-block dis-inlin fl-lef">办公地址：</em><span class="dis-block dis-inlin fl-lef">北京市昌平区中东路5号院润枫欣尚小区5号楼103室</span></li>
                                <li class="clearfix"><em class="dis-block dis-inlin fl-lef">发布时间：</em><span class="dis-block dis-inlin fl-lef">2015-06-08</span></li>
                                <li class="clearfix"><em class="dis-block dis-inlin fl-lef">截止日期：</em><span class="dis-block dis-inlin fl-lef">2015-06-16</span></li>
                                <li class="clearfix last-li">
                                    <span>五险一金</span>

                                </li>
                            </ul>
                        </div>
                        <div class="r fl-rig">
                            <div class="jiathis_style_24x24" id="shareAction" style="padding: 8px;width: 297px;">
                                <a class="jiathis_button_qzone"></a>
                                <a class="jiathis_button_weixin"></a>
                                <a class="jiathis_button_tsina"></a>
                                <a class="jiathis_button_tqq"></a>
                                <a class="jiathis_button_renren"></a>
                                <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" style="padding:0px!important;  margin-right: -2px;" target="_blank"></a>
                                <a class="jiathis_counter_style" style="margin-right: 35px;"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="public-c clearfix">
                    <ul class="nav clearfix">
                        <li class="hover-hand fl-lef dis-inlin m" id='jobInfoBtn'>职位信息</li>
                        <li class="hover-hand fl-lef dis-inlin" id='comInfoBtn'>公司简介</li>
                        <li class="hover-hand fl-lef dis-inlin" id='evaluation'>累计评价<b>321</b></li>
                    </ul>
                </div>
                <div class="public-f">
                    <div class="cont"  id='jobInfo'>
                        <h3>岗位职责</h3>
                        <ul>
                            <li>
                                <p>负责Android系统软件架构设计，开发及调试</p><p>- 需求分析，调研确认满足需求的关键技术等。</p><p>- 协助或指导团队其他成员，为项目的顺利实施提供支持。</p><p><br/></p>                        </li>
                        </ul>
                        <h3>任职要求</h3>
                        <ul>
                            <li><p>1. 计算机或相关专业本科以上学历；</p><p>2. 有1年以上Android或Linux等平台软件开发经验；</p><p>3. 有独立完成Android项目经验优先考虑。</p><p>4. 熟悉Android SDK，熟悉grandle, 熟悉脚本以及实施过daily build.</p><p>5. 熟悉Android OS系统体系结构、framework、以及底层库,了解Java程序的加载以及运行等一些底层机制.</p><p><br/></p><p><br/></p></li>
                        </ul>

                    </div>

                    <div class="cont undis" id='companyInfo'>
                        <h3>公司介绍</h3>
                        <ul>
                            <li>
                                <p>致力O2O电商体验，深入社区服务，通过线上平台，为广大民众提供更多的线下服务。让广大民众生活的更加便利，高效。</p>
                            </li>
                        </ul>
                        <h3>公司亮点</h3>
                        <ul>
                            <li>
                                <p>公司为初创公司，创始人靠谱，善于挖掘公司成员潜力，创始人说过“如果你是块金子，到我这一定让你发光”，给予员工足够的发展空间。</p>                        
                            </li>
                        </ul>
                        <form action="/Home/Login/RecommendTheCandidate/position/Android/comid/335/jobid/578.html" method="post"  id='recordFrom1'>
                            <span class="mybtn hover-hand" onclick="checkuseres(1)">我要推荐</span>
                        </form>
                    </div>
                    <div class="cont" style="display:none">
                        <ul class="tb-r-comments">
                            <li class="clearfix">
                                <div class="tb-buyer fl-lef">
                                    <span class="dis-inlin dis-block tx"><img src="" alt=""></span>
                                    <span class="dis-inlin dis-block use">f****s (<i>匿名</i>)</span>
                                </div>
                                <div class="tb-bd fl-lef">
                                    <p>
                                        公司非常好，没有要求，还薄吃包吃住，非常棒值得考虑一下。公司非常好，没有要求，还薄吃包吃住，非常棒值得考虑一下。
                                        公司非常好，没有要求，还薄吃包吃住，非常棒值得考虑一下。公司非常好，没有要求，还薄吃包吃住，非常棒值得考虑一下。
                                        公司非常好，没有要求，还薄吃包吃住，非常棒值得考虑一下。公司非常好，没有要求，还薄吃包吃住，非常棒值得考虑一下。
                                        公司非常好，没有要求，还薄吃包吃住，非常棒值得考虑一下。公司非常好，没有要求，还薄吃包吃住，非常棒值得考虑一下。
                                    </p>
                                    <span>2015-06-10</span>
                                </div>
                            </li>

                            <li class="clearfix">
                                <div class="tb-buyer fl-lef">
                                    <span class="dis-inlin dis-block tx"><img src="" alt=""></span>
                                    <span class="dis-inlin dis-block use">f****s (<i>匿名</i>)</span>
                                </div>
                                <div class="tb-bd fl-lef">
                                    <p>
                                        公司非常好，没有要求，还薄吃包吃住，非常棒值得考虑一下。公司非常好，没有要求，还薄吃包吃住，非常棒值得考虑一下。棒值得考虑一下。公司非常好，没有要求，还薄吃包吃住，非常棒值得考虑一下。
                                    </p>
                                    <span>2015-06-10</span>
                                </div>
                            </li>

                            <li class="clearfix">
                                <div class="tb-buyer fl-lef">
                                    <span class="dis-inlin dis-block tx"><img src="" alt=""></span>
                                    <span class="dis-inlin dis-block use">f****s (<i>匿名</i>)</span>
                                </div>
                                <div class="tb-bd fl-lef">
                                    <p>
                                        公司非常好，没有要求，还薄吃包吃住，非常棒值得考虑一下。公司非常好，没有要求，还薄吃包吃住，非常棒值得考虑一下。
                                        公司非常好，没有要求，还薄吃包吃住，非常棒值得考虑一下。公司非常好，没有要求，还薄吃包吃住，非常棒值得考虑一下。
                                        公司非常好，没有要求，还薄吃包吃住，非常。公司非常好，没有要求，还薄吃包吃住，非常棒值得考虑一下。
                                    </p>
                                    <span>2015-06-10</span>
                                </div>
                            </li>

                            <li class="clearfix">
                                <div class="tb-buyer fl-lef">
                                    <span class="dis-inlin dis-block tx"><img src="" alt=""></span>
                                    <span class="dis-inlin dis-block use">f****s (<i>匿名</i>)</span>
                                </div>
                                <div class="tb-bd fl-lef">
                                    <p>
                                        公司非常好，没有要求，还薄吃包吃住，非常
                                        公司非常好，没有要求，还薄吃包吃住，非常棒值得考虑一下。公司非常好，没有要求，还薄吃包吃住，非常棒值得考虑一下。
                                    </p>
                                    <span>2015-06-10</span>
                                </div>
                            </li>

                            <li class="clearfix">
                                <div class="tb-buyer fl-lef">
                                    <span class="dis-inlin dis-block tx"><img src="" alt=""></span>
                                    <span class="dis-inlin dis-block use">f****s (<i>匿名</i>)</span>
                                </div>
                                <div class="tb-bd fl-lef">
                                    <p>
                                        公司非常好，没有要求，还薄吃包吃住，非常棒值得考虑一下有要求，还薄吃包吃住，非常棒值得考虑一下。
                                    </p>
                                    <span>2015-06-10</span>
                                </div>
                            </li>
                        </ul>            
                    </div>
                </div>

            </div>
            <div class="al-footer">
                <div class="wrap">
                    <ul class="con clearfix">
                        <li class="clearfix myli li1 fl-lef dis-inlin"><img src="/Public/img/new-index/foter-logo.png" alt=""></li>
                        <li class="clearfix myli li2 fl-lef dis-inlin">
                            <ul>
                                <li><a href="/Home/Public/aboutus.html">关于我们</a></li>
                                <li><a href="/Home/Public/yhxy.html">用户协议</a></li>
                                <li><a href="/Home/Public/yhys.html">用户隐私</a></li>
                                <li><a href="/Home/Public/contactus.html">联系我们</a></li>
                                <li><a href="/Home/Public/joinus.html">加入我们</a></li>
                            </ul>
                        </li>
                        <li class="clearfix myli li3 fl-lef dis-inlin">
                            <img src="/Public/img/new-index/pic3.png" alt="">
                            <span>友情链接</span>
                        </li>
                        <li class="clearfix myli li4 fl-lef dis-inlin">
                            <ul>
                                <li  class="fl-lef"><a href="http://2015com.com" target="_blank">来了</a></li>
                                <li  class="fl-lef"><a href="http://www.e3job.com/" target="_blank">E商人才网</a></li>
                                <li  class="fl-lef"><a href="http://www.0579job.com/" target="_blank">千里马人才网</a></li>
                                <li  class="fl-lef"><a href="http://www.1epoch.com/" target="_blank">青岛logo设计</a></li>
                                <li  class="fl-lef"><a href="http://www.qidong.zp300.cn/" target="_blank">启东人才网</a></li>
                                <li  class="fl-lef"><a href="http://bj.yi.xbaixing.com" target="_blank">北京一站通</a></li>
                                <li  class="fl-lef"><a href="http://zhengyun.cc/" target="_blank">郑云工作室</a></li>
                                <li  class="fl-lef"><a href="http://www.5niubi.com/" target="_blank">一折网</a></li>
                                <li  class="fl-lef"><a href="http://www.jdaaa.com/" target="_blank">京东精选</a></li>
                                <li  class="fl-lef"><a href="http://www.bcty365.com/" target="_blank">B5教程网</a></li>
                                <li  class="fl-lef"><a href="http://www.shsixun.com/" target="_blank">思讯通</a></li>
                                <li  class="fl-lef"><a href="http://www.1yhlg.com" target="_blank">1元欢乐购</a></li>
                                <li  class="fl-lef"><a href="http://xinyu.caihao.com" target="_blank">新余招聘网</a></li>
                                <li  class="fl-lef"><a href="http://www.1531679540.com/" target="_blank">聚来宝</a></li>
                                <li  class="fl-lef"><a href="http://www.zbs888.com" target="_blank">品牌策划</a></li>
                            </ul>
                        </li>
                        <li class="clearfix myli li5 fl-lef dis-inlin">
                            <p>4006-685-596</p>
                            <p>010-57188076</p>
                            <p>010-57230694</p>
                        </li>
                    </ul>
                    <div class="border"></div>
                    <p>人人猎 京ICP备14040265号-1<span style="margin-left:10px;" id='cnzz_stat_icon_1254515209'>&nbsp;&nbsp;&nbsp;&nbsp;<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cspan id='cnzz_stat_icon_1254515209'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1254515209%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script></span></p>
                </div>
            </div>
            <div class="popup_ft reward" id="sys_window">
                <h3>温馨提示</h3>
                <a class="close cur_point"></a>
                <dl>
                    <dt id="sys_content">恭喜您！</dt>
                    <dd><input type="hidden" id="locationHref"><button id="comWind" class="cur_point">确认</button></dd>
                </dl>
            </div>

            <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
            <input type="hidden" value="fenghuihui" id='fusername'>
            <input type="hidden" value="0" id='fflag'>
            <script type="text/javascript">
                    $(function() {
                        var list2 = $(".nav li");
                        var divs2 = $(".public-f .cont");
                        list2.on("click", function() {
                            that = $(this);
                            index = that.index();
                            that.addClass("m").siblings().removeClass("m");
                            $(this).find("a").addClass("m").parent("li").siblings().find("a").removeClass("m");
                            divs2.eq(index).show().siblings().hide();
                        });
                    })

                    $("#shareAction").click(function() {
                        var url = "http://www.renrenlie.com/index.php?s=/Home/Index/EnterIndex2/comid/335/jobid/c600cab6-c8c5-b8eb-72a0-557299c361dc.html&share=gvFUD5MpRtYzHaEvLDdgqwCV3a0S0Qe7PEjs0GqiVBIcP22AF9ICVO22/s97jSSJRY1CbjrYtjf8RiqG7nDwiw==";
                        $.post("/Home/Index/saveShareUrl.html", {
                            'url': url
                        }, function(data) {
                        }, "json")
                    });
                    function checkuseres(type) {

                        var username = $("#fusername").val();
                        var flag = $("#fflag").val();
                        if (flag == 1) {

                            sys_window("您是企业账号，请登录推荐人账号再试！");
                            return false;
                        }
                        if (!username) {
                            alert(1);
                            $(".dengluBtn").click();
                            //$('.mask').show();
                            //$('.dlpd').show();
                            return false;
                        }
                        $("#recordFrom" + type).submit();
                    }

                    $(function() {
                        $("#colloctJob").click(function() {
                            var jobid = $(this).attr("jid");
                            var username = $("#fusername").val();
                            if (!jobid || !username) {
                                return false;
                            }
                            $.post("/Home/Index/collectJob.html", {
                                "jobid": jobid, "username": username
                            }, function(data) {
                                if (data.code == "200")
                                {
                                    $("#colloctJob").addClass("m");
                                }
                                else
                                {
                                    sys_window("关注失败");
                                }

                            }, "json")
                        })
                    })
                    $(function() {
                        $("#shareLogin").click(function() {
                            $(".denglu").show();
                            $(".duqq").hide();
                        });
                        $("#shareRegiest").click(function() {
                            $(".zhuce").show();
                            $(".duqq").hide();
                        });
                    })
            </script>
            <script >
                var jiathis_config = {
                    imageWidth: 26,
                    marginTop: 150,
                    url: "http://www.renrenlie.com/index.php?s=/Home/Index/EnterIndex2/comid/335/jobid/c600cab6-c8c5-b8eb-72a0-557299c361dc.html&share=gvFUD5MpRtYzHaEvLDdgqwCV3a0S0Qe7PEjs0GqiVBIcP22AF9ICVO22/s97jSSJRY1CbjrYtjf8RiqG7nDwiw==",
                    title: "即刻分享Android职位，立得N个“百元”现金。",
                    summary: "[renrenlie.com] 北京少东家电子商务有限公司直招Android职位1人,月薪:12000-15000元 ，推荐或自荐成功入职即得推荐费2400元。",
                    pic: "/Public/img/logo.png"
                }
            </script> 
    </body>
</html>