<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <link rel="icon" href="__ROOT__/Public/img/favicon.ico" type="image/ico">
	<title>推荐职位</title>
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/new-resizer.css">
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/new-recommends.css">
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/lanrenzhijia2.css">
	<script type="text/javascript" src="__ROOT__/Public/js/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="__ROOT__/Public/js/jquery.styleSelect2.js"></script>
	<script type="text/javascript" src="__ROOT__/Public/js/al-index.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$(".mySelect3").styleSelect({styleClass: "selectFruits",optionsWidth: 1,speed: 'fast'});
			$(".down-menu").styleSelect({styleClass: "selectDark"});
		});
	</script>
</head>
<body>
	<include file="Public:newHeader"/>
	<div class="wrap">
		<div class="ms1 clearfix">
			<div class="m1-l fl-lef">
				<img src="/Public/img/rcmd-img/reco-icon.png" alt="">
				<span>推荐人用户中心</span>
				<img src="/Public/img/rcmd-img/reco-icon.png" alt="">
			</div>
			<div class="m1-r fl-rig">
				<span class="gjz dis-block dis-inlin fl-lef">关键字</span>
				<div class="search dis-inlin fl-lef">
					<input id="searchbox" class="dis-block dis-inlin post fl-lef" value="" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; JAVA &nbsp; Android &nbsp; IOS " type="text">
					<span class="btn hover-hand dis-block dis-inlin post fl-lef btn-search">
						<img src="/Public/img/new-index/position-btn.png" alt="">
					</span>
				</div>
			</div>
		</div>
		<div class="ms2 clearfix">
			<div class="m2-l fl-lef">
				<div class="odiv hover-hand">
					<span>1</span>
					<h6 class="tit1">完善资料<em></em></h6>
					<p class="tx m">完成之后可以推荐候选人</p>
				</div>
				<i class="dis-block"><img src="/Public/img/rcmd-img/btmjd.png" alt=""></i>
				<div class="odiv hover-hand">
					<span>2</span>
					<h6 class="tit2">维护候选人<em></em></h6>
					<p class="jlk">(简历库)</p>
					<p class="tx">完成之后可以推荐候选人</p>
				</div>
				<i class="dis-block"><img src="/Public/img/rcmd-img/btmjd.png" alt=""></i>
				<div class="odiv m hover-hand">
					<span>3</span>
					<h6 class="tit3 m">推荐职位<em class="m"></em></h6>
					<p class="tx m">完成之后可以推荐候选人</p>
				</div>
				<i class="dis-block"><img src="/Public/img/rcmd-img/btmjd.png" alt=""></i>
				<div class="odiv hover-hand">
					<span>4</span>
					<h6 class="tit4">跟踪状态<em></em></h6>
					<p class="tx">完成之后可以推荐候选人</p>
				</div>
				<i class="dis-block"><img src="/Public/img/rcmd-img/btmjd.png" alt=""></i>
				<div class="odiv hover-hand">
					<span>5</span>
					<h6 class="tit5">查看收益<em></em></h6>
					<p class="tx">完成之后可以推荐候选人</p>
				</div>
			</div>
			<div class="m2-r fl-rig">
				<ul class="nav nav2">
					<li class="m dis-block dis-inlin fl-lef"><a class="m">高级职位搜索</a></li>
					<li class="dis-block first  dis-inlin fl-lef"><a>职位收藏</a></li>
				</ul>
				

				<div class="job-search" style="display:block">
					<h3>高级搜索</h3>
					<div>
						<div class="input-list clearfix">
							<ul class="clearfix">
								<li class="clearfix dis-inlin fl-lef">
									<em class="dis-block dis-inlin fl-lef">职位名称</em>
									<input type="text">
								</li>
								<li class="clearfix dis-inlin fl-lef">
									<em class="dis-block dis-inlin fl-lef">行业类别</em>
									<span class="dis-block dis-inlin fl-lef">
										<select name="animals"  class="down-menu" style="width:195px;top:38px;left:-197px;display:none;">
											<option  class="first" value="">在职考虑换工作</option>
											<option  value="hippopotamus">已离职</option>
										</select>
									</span>
								</li>
								<li class="clearfix dis-inlin fl-lef">
									<em class="dis-block dis-inlin fl-lef">职位类别</em>
									<span class="dis-block dis-inlin fl-lef">
										<select name="animals"  class="down-menu" style="width:195px;top:38px;left:-197px;display:none;">
											<option  class="first" value="">在职考虑换工作</option>
											<option  value="hippopotamus">已离职</option>
										</select>
									</span>
								</li>
								<li class="clearfix dis-inlin fl-lef">
									<em class="dis-block dis-inlin fl-lef">工作地点</em>
									<span class="dis-block dis-inlin fl-lef">
										<select name="animals"  class="down-menu" style="width:195px;top:38px;left:-197px;display:none;">
											<option  class="first" value="">在职考虑换工作</option>
											<option  value="hippopotamus">已离职</option>
										</select>
									</span>
								</li>
								<li class="clearfix dis-inlin fl-lef">
									<em class="dis-block dis-inlin fl-lef">工资待遇</em>
									<span class="dis-block dis-inlin fl-lef">
										<select name="animals"  class="down-menu" style="width:195px;top:38px;left:-197px;display:none;">
											<option  class="first" value="">在职考虑换工作</option>
											<option  value="hippopotamus">已离职</option>
										</select>
									</span>
								</li>
								<li class="clearfix dis-inlin fl-lef">
									<em class="dis-block dis-inlin fl-lef">发布时间</em>
									<span class="dis-block dis-inlin fl-lef">
										<select name="animals"  class="down-menu" style="width:195px;top:38px;left:-197px;display:none;">
											<option  class="first" value="">在职考虑换工作</option>
											<option  value="hippopotamus">已离职</option>
										</select>
									</span>
								</li>
							</ul>
							<button>搜索</button>
						</div>
						<div style="background:#f5f5f5;width:100%;height:15px;margin-top:20px;"></div>
						<div class="job-list">
							<div class="clearfix list">
								<span class="np-logo dis-block dis-inlin fl-lef">
									<img src="/Public/img/mdwx.png" alt="" width="50px" height="50px">
								</span>
								<ul class="r fl-rig">
									<li class="clearfix li1">
										<a href="/Home/Index/EnterIndex2/comid/355/jobid/cab05c59-4637-851f-f2f4-5551bc6f478b"><em class="dis-inlin dis-block fl-lef">IOS开发工程师</em></a>
										<span class="adrs dis-inlin dis-block fl-lef">[朝阳区]</span>
										<a href="/Home/Index/EnterIndex2/comid/355/jobid/cab05c59-4637-851f-f2f4-5551bc6f478b"><h6 class="dis-inlin dis-block fl-rig">阿里巴巴科技有限公司</h6></a>
									</li>
									<li class="clearfix li2">
										<span class="dis-inlin dis-block fl-lef">月薪：</span>
										<span class="dis-inlin dis-block fl-lef">20K-40K</span>
										<span class="dis-inlin dis-block fl-lef">应届毕业生</span>
										<span class="dis-inlin dis-block fl-lef">大专及以上</span>
										<div class="fl-rig dis-inlin dis-block">
							                <span class="c-r dis-inlin dis-block fl-lef">所属行业：</span>
											<span class="ic dis-inlin dis-block fl-lef">社交</span>                                                                               
											<span class="c-r dis-inlin dis-block fl-lef">公司性质：</span>
											<span class="ic dis-inlin dis-block fl-lef">民营企业</span>
											<span class="c-r dis-inlin dis-block fl-lef">规模：</span> 
											<span class="ic dis-inlin dis-block fl-lef">0-50人</span>
										</div>
										
									</li>
									<li class="clearfix li3">
										<em class="c3-l	dis-inlin dis-block fl-lef">候选人成功入职，你即得奖励  <i>￥8000</i></em>
										<span class="c-r dis-inlin dis-block fl-rig">[2015-05-25]</span>
									</li>
								</ul>
							</div>

							<div class="clearfix list">
								<span class="np-logo dis-block dis-inlin fl-lef">
									<img src="/Public/img/mdwx.png" alt="" width="50px" height="50px">
								</span>
								<ul class="r fl-rig">
									<li class="clearfix li1">
										<a href="/Home/Index/EnterIndex2/comid/355/jobid/cab05c59-4637-851f-f2f4-5551bc6f478b"><em class="dis-inlin dis-block fl-lef">IOS开发工程师</em></a>
										<span class="adrs dis-inlin dis-block fl-lef">[朝阳区]</span>
										<a href="/Home/Index/EnterIndex2/comid/355/jobid/cab05c59-4637-851f-f2f4-5551bc6f478b"><h6 class="dis-inlin dis-block fl-rig">阿里巴巴科技有限公司</h6></a>
									</li>
									<li class="clearfix li2">
										<span class="dis-inlin dis-block fl-lef">月薪：</span>
										<span class="dis-inlin dis-block fl-lef">20K-40K</span>
										<span class="dis-inlin dis-block fl-lef">应届毕业生</span>
										<span class="dis-inlin dis-block fl-lef">大专及以上</span>
										<div class="fl-rig dis-inlin dis-block">
							                <span class="c-r dis-inlin dis-block fl-lef">所属行业：</span>
											<span class="ic dis-inlin dis-block fl-lef">社交</span>                                                                               
											<span class="c-r dis-inlin dis-block fl-lef">公司性质：</span>
											<span class="ic dis-inlin dis-block fl-lef">民营企业</span>
											<span class="c-r dis-inlin dis-block fl-lef">规模：</span> 
											<span class="ic dis-inlin dis-block fl-lef">0-50人</span>
										</div>
										
									</li>
									<li class="clearfix li3">
										<em class="c3-l	dis-inlin dis-block fl-lef">候选人成功入职，你即得奖励  <i>￥8000</i></em>
										<span class="c-r dis-inlin dis-block fl-rig">[2015-05-25]</span>
									</li>
								</ul>
							</div>

							<div class="clearfix list">
								<span class="np-logo dis-block dis-inlin fl-lef">
									<img src="/Public/img/mdwx.png" alt="" width="50px" height="50px">
								</span>
								<ul class="r fl-rig">
									<li class="clearfix li1">
										<a href="/Home/Index/EnterIndex2/comid/355/jobid/cab05c59-4637-851f-f2f4-5551bc6f478b"><em class="dis-inlin dis-block fl-lef">IOS开发工程师</em></a>
										<span class="adrs dis-inlin dis-block fl-lef">[朝阳区]</span>
										<a href="/Home/Index/EnterIndex2/comid/355/jobid/cab05c59-4637-851f-f2f4-5551bc6f478b"><h6 class="dis-inlin dis-block fl-rig">阿里巴巴科技有限公司</h6></a>
									</li>
									<li class="clearfix li2">
										<span class="dis-inlin dis-block fl-lef">月薪：</span>
										<span class="dis-inlin dis-block fl-lef">20K-40K</span>
										<span class="dis-inlin dis-block fl-lef">应届毕业生</span>
										<span class="dis-inlin dis-block fl-lef">大专及以上</span>
										<div class="fl-rig dis-inlin dis-block">
							                <span class="c-r dis-inlin dis-block fl-lef">所属行业：</span>
											<span class="ic dis-inlin dis-block fl-lef">社交</span>                                                                               
											<span class="c-r dis-inlin dis-block fl-lef">公司性质：</span>
											<span class="ic dis-inlin dis-block fl-lef">民营企业</span>
											<span class="c-r dis-inlin dis-block fl-lef">规模：</span> 
											<span class="ic dis-inlin dis-block fl-lef">0-50人</span>
										</div>
										
									</li>
									<li class="clearfix li3">
										<em class="c3-l	dis-inlin dis-block fl-lef">候选人成功入职，你即得奖励  <i>￥8000</i></em>
										<span class="c-r dis-inlin dis-block fl-rig">[2015-05-25]</span>
									</li>
								</ul>
							</div>

							<div class="clearfix list">
								<span class="np-logo dis-block dis-inlin fl-lef">
									<img src="/Public/img/mdwx.png" alt="" width="50px" height="50px">
								</span>
								<ul class="r fl-rig">
									<li class="clearfix li1">
										<a href="/Home/Index/EnterIndex2/comid/355/jobid/cab05c59-4637-851f-f2f4-5551bc6f478b"><em class="dis-inlin dis-block fl-lef">IOS开发工程师</em></a>
										<span class="adrs dis-inlin dis-block fl-lef">[朝阳区]</span>
										<a href="/Home/Index/EnterIndex2/comid/355/jobid/cab05c59-4637-851f-f2f4-5551bc6f478b"><h6 class="dis-inlin dis-block fl-rig">阿里巴巴科技有限公司</h6></a>
									</li>
									<li class="clearfix li2">
										<span class="dis-inlin dis-block fl-lef">月薪：</span>
										<span class="dis-inlin dis-block fl-lef">20K-40K</span>
										<span class="dis-inlin dis-block fl-lef">应届毕业生</span>
										<span class="dis-inlin dis-block fl-lef">大专及以上</span>
										<div class="fl-rig dis-inlin dis-block">
							                <span class="c-r dis-inlin dis-block fl-lef">所属行业：</span>
											<span class="ic dis-inlin dis-block fl-lef">社交</span>                                                                               
											<span class="c-r dis-inlin dis-block fl-lef">公司性质：</span>
											<span class="ic dis-inlin dis-block fl-lef">民营企业</span>
											<span class="c-r dis-inlin dis-block fl-lef">规模：</span> 
											<span class="ic dis-inlin dis-block fl-lef">0-50人</span>
										</div>
										
									</li>
									<li class="clearfix li3">
										<em class="c3-l	dis-inlin dis-block fl-lef">候选人成功入职，你即得奖励  <i>￥8000</i></em>
										<span class="c-r dis-inlin dis-block fl-rig">[2015-05-25]</span>
									</li>
								</ul>
							</div>

							<div class="clearfix list">
								<span class="np-logo dis-block dis-inlin fl-lef">
									<img src="/Public/img/mdwx.png" alt="" width="50px" height="50px">
								</span>
								<ul class="r fl-rig">
									<li class="clearfix li1">
										<a href="/Home/Index/EnterIndex2/comid/355/jobid/cab05c59-4637-851f-f2f4-5551bc6f478b"><em class="dis-inlin dis-block fl-lef">IOS开发工程师</em></a>
										<span class="adrs dis-inlin dis-block fl-lef">[朝阳区]</span>
										<a href="/Home/Index/EnterIndex2/comid/355/jobid/cab05c59-4637-851f-f2f4-5551bc6f478b"><h6 class="dis-inlin dis-block fl-rig">阿里巴巴科技有限公司</h6></a>
									</li>
									<li class="clearfix li2">
										<span class="dis-inlin dis-block fl-lef">月薪：</span>
										<span class="dis-inlin dis-block fl-lef">20K-40K</span>
										<span class="dis-inlin dis-block fl-lef">应届毕业生</span>
										<span class="dis-inlin dis-block fl-lef">大专及以上</span>
										<div class="fl-rig dis-inlin dis-block">
							                <span class="c-r dis-inlin dis-block fl-lef">所属行业：</span>
											<span class="ic dis-inlin dis-block fl-lef">社交</span>                                                                               
											<span class="c-r dis-inlin dis-block fl-lef">公司性质：</span>
											<span class="ic dis-inlin dis-block fl-lef">民营企业</span>
											<span class="c-r dis-inlin dis-block fl-lef">规模：</span> 
											<span class="ic dis-inlin dis-block fl-lef">0-50人</span>
										</div>
										
									</li>
									<li class="clearfix li3">
										<em class="c3-l	dis-inlin dis-block fl-lef">候选人成功入职，你即得奖励  <i>￥8000</i></em>
										<span class="c-r dis-inlin dis-block fl-rig">[2015-05-25]</span>
									</li>
								</ul>
							</div>

							<div class="clearfix list">
								<span class="np-logo dis-block dis-inlin fl-lef">
									<img src="/Public/img/mdwx.png" alt="" width="50px" height="50px">
								</span>
								<ul class="r fl-rig">
									<li class="clearfix li1">
										<a href="/Home/Index/EnterIndex2/comid/355/jobid/cab05c59-4637-851f-f2f4-5551bc6f478b"><em class="dis-inlin dis-block fl-lef">IOS开发工程师</em></a>
										<span class="adrs dis-inlin dis-block fl-lef">[朝阳区]</span>
										<a href="/Home/Index/EnterIndex2/comid/355/jobid/cab05c59-4637-851f-f2f4-5551bc6f478b"><h6 class="dis-inlin dis-block fl-rig">阿里巴巴科技有限公司</h6></a>
									</li>
									<li class="clearfix li2">
										<span class="dis-inlin dis-block fl-lef">月薪：</span>
										<span class="dis-inlin dis-block fl-lef">20K-40K</span>
										<span class="dis-inlin dis-block fl-lef">应届毕业生</span>
										<span class="dis-inlin dis-block fl-lef">大专及以上</span>
										<div class="fl-rig dis-inlin dis-block">
							                <span class="c-r dis-inlin dis-block fl-lef">所属行业：</span>
											<span class="ic dis-inlin dis-block fl-lef">社交</span>                                                                               
											<span class="c-r dis-inlin dis-block fl-lef">公司性质：</span>
											<span class="ic dis-inlin dis-block fl-lef">民营企业</span>
											<span class="c-r dis-inlin dis-block fl-lef">规模：</span> 
											<span class="ic dis-inlin dis-block fl-lef">0-50人</span>
										</div>
										
									</li>
									<li class="clearfix li3">
										<em class="c3-l	dis-inlin dis-block fl-lef">候选人成功入职，你即得奖励  <i>￥8000</i></em>
										<span class="c-r dis-inlin dis-block fl-rig">[2015-05-25]</span>
									</li>
								</ul>
							</div>

							<div class="clearfix list">
								<span class="np-logo dis-block dis-inlin fl-lef">
									<img src="/Public/img/mdwx.png" alt="" width="50px" height="50px">
								</span>
								<ul class="r fl-rig">
									<li class="clearfix li1">
										<a href="/Home/Index/EnterIndex2/comid/355/jobid/cab05c59-4637-851f-f2f4-5551bc6f478b"><em class="dis-inlin dis-block fl-lef">IOS开发工程师</em></a>
										<span class="adrs dis-inlin dis-block fl-lef">[朝阳区]</span>
										<a href="/Home/Index/EnterIndex2/comid/355/jobid/cab05c59-4637-851f-f2f4-5551bc6f478b"><h6 class="dis-inlin dis-block fl-rig">阿里巴巴科技有限公司</h6></a>
									</li>
									<li class="clearfix li2">
										<span class="dis-inlin dis-block fl-lef">月薪：</span>
										<span class="dis-inlin dis-block fl-lef">20K-40K</span>
										<span class="dis-inlin dis-block fl-lef">应届毕业生</span>
										<span class="dis-inlin dis-block fl-lef">大专及以上</span>
										<div class="fl-rig dis-inlin dis-block">
							                <span class="c-r dis-inlin dis-block fl-lef">所属行业：</span>
											<span class="ic dis-inlin dis-block fl-lef">社交</span>                                                                               
											<span class="c-r dis-inlin dis-block fl-lef">公司性质：</span>
											<span class="ic dis-inlin dis-block fl-lef">民营企业</span>
											<span class="c-r dis-inlin dis-block fl-lef">规模：</span> 
											<span class="ic dis-inlin dis-block fl-lef">0-50人</span>
										</div>
										
									</li>
									<li class="clearfix li3">
										<em class="c3-l	dis-inlin dis-block fl-lef">候选人成功入职，你即得奖励  <i>￥8000</i></em>
										<span class="c-r dis-inlin dis-block fl-rig">[2015-05-25]</span>
									</li>
								</ul>
							</div>
						</div>
						<div class="inner clearfix">
							<div class="form clearfix dis-inlin fl-rig dis-block">
								<span class="text dis-block dis-inlin fl-lef">跳转到第</span>
								<input class="input dis-block dis-inlin fl-lef" type="text" tabindex="9">
								<span class="text dis-block dis-inlin fl-lef">页</span>
								<span class="btn dis-block dis-inlin fl-lef">确定</span>
							</div>
							<ul class="clearfix dis-inlin fl-rig dis-block">
								<li class="prev dis-block dis-inlin fl-lef">|&lt;</li>
								<li class="itme active dis-block dis-inlin fl-lef">1</li>
								<li class="itme dis-block dis-inlin fl-lef">2</li>
								<li class="itme dis-block dis-inlin fl-lef">3</li>
								<li class="itme dis-block dis-inlin fl-lef">4</li>
								<li class="itme dis-block dis-inlin fl-lef">5</li>
								<li class="next dis-block dis-inlin fl-lef">&gt;|</li>
								<div class="total dis-block dis-inlin fl-lef">共100页，</div>
							</ul>
						</div>
					</div>
					
				</div>
				<div class="mg-candidate" style="display:none">
					<h3>
						<span class="dis-block dis-inlin fl-lef">候选人</span>
						<em class="dis-block dis-inlin fl-rig">
							<img class="dis-inlin dis-block fl-lef" src="/Public/img/rcmd-img/icon4.png" alt="">
							<i class="dis-inlin dis-block fl-lef">上传候选人简历</i>
						</em>
					</h3>
					<div class="mytable">
						<table>
							<tbody>
								<tr class="t">
									<th>序号</th>
									<th>职位</th>
									<th>所属公司</th>
									<th>招聘人数</th>
									<th>推荐人数</th>
									<th>推荐费（元）</th>
									<th>戒指日期</th>
								</tr>
								<tr>
									<td class="wh45 wk">1</td>
									<td class="wh130 wk">移动端IOS</td>
									<td class="wh161 wk">北京健康有益科技公司</td>
									<td class="wh77 wk">1</td>
									<td class="wh80 wk">2</td>
									<td class="wh87 wk">1000</td>
									<td class="wh96 wk">2105-5-22</td>
								</tr>
							</tbody>
						</table>
						<div class="inner clearfix">
							<div class="form clearfix dis-inlin fl-rig dis-block">
								<span class="text dis-block dis-inlin fl-lef">跳转到第</span>
								<input class="input dis-block dis-inlin fl-lef" type="text">
								<span class="text dis-block dis-inlin fl-lef">页</span>
								<span class="btn dis-block dis-inlin fl-lef">确定</span>
							</div>
							<ul class="clearfix dis-inlin fl-rig dis-block">
								<li class="prev dis-block dis-inlin fl-lef">|<</li>
								<li class="itme active dis-block dis-inlin fl-lef">1</li>
								<li class="itme dis-block dis-inlin fl-lef">2</li>
								<li class="itme dis-block dis-inlin fl-lef">3</li>
								<li class="itme dis-block dis-inlin fl-lef">4</li>
								<li class="itme dis-block dis-inlin fl-lef">5</li>
								<li class="next dis-block dis-inlin fl-lef">>|</li>
								<div class="total dis-block dis-inlin fl-lef">共100页，</div>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<include file="Public:newFooter"/>
	<script>
		$(".m2-l>div").click(function(){
			$(this).addClass("m");
			$(this).find("h6").addClass("m");
			$(this).find("p").addClass("m");
			$(this).siblings().removeClass("m")
			$(this).siblings().find("h6").removeClass("m");
			$(this).siblings().find("p").removeClass("m");
		});
		var index;
		var list = $(".m2-r .nav li");
		var divs = $(".m2-r>div");
		list.on("click",function(){
			that = $(this);
			index = that.index();
			that.addClass("m").siblings().removeClass("m");
			$(this).find("a").addClass("m").parent("li").siblings().find("a").removeClass("m");
			divs.eq(index).show().siblings("div").hide();
		});

		var list2 = $(".m2-r .nav3 li");
		var divs2 = $(".add-resume>div");
		list2.on("click",function(){
			that = $(this);
			index = that.index();
			that.addClass("m").siblings().removeClass("m");
			$(this).find("a").addClass("m").parent("li").siblings().find("a").removeClass("m");
			divs2.eq(index).show().siblings("div").hide();
		});
		
	</script>
</body>

</html>