<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>成功案例-人人猎</title>
         <meta name="keywords" content="人人猎,人人猎网，人人猎头,renrenlie.com,www.renrenlie.com,人人猎首页,人人猎官网，人人都是猎头" />
        <meta name="description" content="人人猎（www.renrenlie.com)是企业低成本极速直招平台，让企业一周内搞定招聘需求，为推荐人提供“人力资源”变现通道。" />
        <script type="text/javascript" src="__ROOT__/Public/js/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="__ROOT__/Public/js/focuspic.js"></script>
        <script type="text/javascript" src="__ROOT__/Public/js/menu_v.js"></script>
        <script type="text/javascript" src="__ROOT__/Public/js/script.js"></script>
        <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/resizer.css">
        <link rel="stylesheet" href="__ROOT__/Public/css/focuspic.css" />
        <link rel="stylesheet" href="__ROOT__/Public/css/menu_v.css" />
        <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/style.css">
    </head>
    <body>
        <!-- 遮罩层 -->
        <div class="mask" id="mask"></div>
    <include file="Public:zhuce"/>
    <include file="Public:denglu"/>
    <include file="Public:indexLeftNav"/>
    <include file="Public:Right"/>
    <div class="center">
        <include file="Public:centerTop"/>
        <div style="margin-top:30px;background:#ffffff;" class="cgal">
            <div class="cgal_banner"><img src="__ROOT__/Public/img/cgal_banner1.jpg" alt=""></div>
            <div class="con">
                <h4>案例展示</h4>
                <ul class="clearfix">
                    <li><img src="__ROOT__/Public/img/list1.png"></li>
                    <li><img src="__ROOT__/Public/img/list2.png"></li>
                    <li><img src="__ROOT__/Public/img/list3.png"></li>
                    <li><img src="__ROOT__/Public/img/list4.png"></li>
                    <li><img src="__ROOT__/Public/img/haoqiao.jpg"></li>
                    <li><img src="__ROOT__/Public/img/exiche.jpg"></li>
                    <li><img src="__ROOT__/Public/img/jinsejiayuan.jpg"></li>
                    <li><img src="__ROOT__/Public/img/haoyundao.jpg"></li>
                </ul>
            </div>
        </div>
        <include file="Public:centerFooter"/>
    </div>
    <include file="Public:fiexdTop"/>
</body>
</html>