<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="__ROOT__/Public/img/favicon.ico" type="image/ico">
        <title>推荐职位</title>
        <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/new-resizer.css">
        <script type="text/javascript" src="__ROOT__/Public/js/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="__ROOT__/Public/js/al-index.js"></script>
    </head>
    <body style="background:#f3f2ee">
    <include file="Public:newHeader"/>
    <div class="wrap">
        <div class="error-page">
            <div class="odiv1">
                <h1>很抱歉！您指定的网页无法访问......</h1>
            </div>
            <div class="odiv2 clearfix">
                <h4>您还可以：</h4>
                <a class="dis-inlin dis-block fl-lef bt1" href=""></a>
                <a class="dis-inlin dis-block fl-lef bt2" href=""></a>
            </div>
        </div>
    </div>
    <include file="Public:newFooter"/>
    <script type="text/javascript">
    $(document).ready(function(){
        
    });
    </script>
</body>
</html>