<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="__ROOT__/Public/img/favicon.ico" type="image/ico">
          <title>关于我们-人人猎</title>
        <meta name="keywords" content="人人猎,人人猎网，人人猎头,renrenlie.com,www.renrenlie.com,人人猎首页,人人猎官网，人人都是猎头" />
        <meta name="description" content="人人猎（www.renrenlie.com)是企业低成本极速直招平台，让企业一周内搞定招聘需求，为推荐人提供“人力资源”变现通道。" />
        
        <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/new-resizer.css">
        <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/new-recommends.css">
        <link rel="stylesheet" href="__ROOT__/Public/css/join-us.css">
        <link rel="stylesheet" href="__ROOT__/Public/css/help.css">
        <script type="text/javascript" src="__ROOT__/Public/js/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="__ROOT__/Public/js/jquery.styleSelect2.js"></script>
        <script type="text/javascript" src="__ROOT__/Public/js/al-index.js"></script>
        
    </head>
    <body>
        <div class="mask" id="mask"></div>
    <include file="Public:newHeader"/>
    <div class="rrl-jianjie clearfix">
        <include file="About:about_left"/>
        <div class="right">
            <h3><span>人人猎简介</span></h3>
            <div class="help-introduct">
                <div class="help-introduct-content">
                    <p><i class="title">人人猎</i>是中国最有效的优质互联网创业企业人才极速直招平台。她让<br/>
                        企业在<img src="/Public/img/help/7.png" style="height: 35px;width: 25px; vertical-align:middle"/>天内搞定招聘需求、<i>招到</i>靠谱的人；既让猎头、HR、知名公司<br/>
                        的面试官等推荐人暂不使用的简历得以轻松变现，又让中高端候选人<br/>
                        快速找到<i>匹配</i>的工作。</p>
                    
                <p><i class="title">人人猎</i>核心团队来自百度、搜狐等知名互联网公司的<br/>
                    互联网资深人士，以及10多年猎头从业经验的人才招聘行<br/>
                    业专家组成。</p>
                <p class="end-content"><i class="title">人人猎</i>成立之初，相继获得知名投资人的种子<br/>
                    资金和天使轮投资。人人猎以“简单、诚实、可靠”<br/>
                    为企业理念，以“避免互联网创业企业长久招<br/>
                    不到靠谱的人而受损失，帮助候选人加入最<br/>
                    匹配的团队，<i>让猎头和HR等推荐人的<br/>
                    每个面试都有现金汇报</i>”为宗旨，以<br/>
                    追求“极佳效果和服务”为始终<br/>
                    如一的目标。</p>
            
                </div>
            </div>
        </div>
    </div>
</div>
<include file="Public:newFooter"/>
</body>

</html>