<div id="J_Cat" class="cat fl-lef">
    <div class="cat-hd">
        <a href="/Home/Index/search.html">
            <h2>
                全部职位分类
            </h2>
        </a>
    </div>
    <div id="J_CatBd" class="cat-bd">
        <div id="J_CatMenu" class="cat-menu">
            <ul class="cat-menu-bd">
                <li class="J_Cat cat-1" data-id="1">
                    <h3>
                        管理类 
                    </h3>
                    <ul class="clearfix" style="border:none">
                        <li class="dis-inlin dis-block fl-lef"><a href="/Home/Index/search/position/CTO.html">CTO</a></li>
                    </ul>
                </li>

                <li class="J_Cat cat-1" data-id="1">
                    <h3>
                        技术类
                    </h3>
                    <ul class="clearfix" style="border:none">
                        <li class="dis-inlin dis-block fl-lef"><a href="/Home/Index/search/position/php.html">php</a></li>
                        <li class="dis-inlin dis-block fl-lef"><a href="/Home/Index/search/position/java.html">java</a></li>
                        <!-- <li class="dis-inlin dis-block fl-lef"><a href="/Home/Index/search/position/Python.html">Python</a></li> -->
                        <li class="dis-inlin dis-block fl-lef"><a href="/Home/Index/search/position/.net.html">.net</a></li>
                        <li class="dis-inlin dis-block fl-lef"><a href="/Home/Index/search/position/Android.html">Android</a></li>
                        <li class="dis-inlin dis-block fl-lef"><a href="/Home/Index/search/position/IOS.html">IOS</a></li>
                        <li class="dis-inlin dis-block fl-lef"><a href="/Home/Index/search/position/前端.html">前端</a></li>
                        <li class="dis-inlin dis-block fl-lef"><a href="/Home/Index/search/position/测试.html">测试</a></li>
                        <li class="dis-inlin dis-block fl-lef"><a href="/Home/Index/search/position/运维.html">运维</a></li>
                        <li class="dis-inlin dis-block fl-lef"><a href="/Home/Index/search/position/DBA.html">DBA</a></li>
                    </ul>
                </li>

                <li class="J_Cat cat-1" data-id="1">
                    <h3>
                        产品类
                    </h3>
                    <ul class="clearfix" style="border:none">
                        <li class="dis-inlin dis-block fl-lef"><a href="/Home/Index/search/position/PM.html">PM</a></li>
                        <li class="dis-inlin dis-block fl-lef"><a href="/Home/Index/search/position/UI.html">UI</a></li>
                        <li class="dis-inlin dis-block fl-lef"><a href="/Home/Index/search/position/UE.html">UE</a></li>
                    </ul>
                </li>

                <li class="J_Cat cat-1" data-id="1">
                    <h3>
                        运营类
                    </h3>
                    <ul class="clearfix" style="border:none">
                        <li class="dis-inlin dis-block fl-lef"><a href="/Home/Index/search/position/运营.html">运营</a></li>
                        <li class="dis-inlin dis-block fl-lef"><a href="/Home/Index/search/position/推广.html">推广</a></li>
                    </ul>
                </li>

                <li class="J_Cat cat-1" data-id="1">
                    <h3>
                        市场类
                    </h3>
                    <ul class="clearfix" style="border:none">
                        <li class="dis-inlin dis-block fl-lef"><a href="/Home/Index/search/position/地推.html">地推</a></li>
                        <li class="dis-inlin dis-block fl-lef"><a href="/Home/Index/search/position/BD.html">BD</a></li>
                    </ul>
                </li>

                <li class="J_Cat cat-1" data-id="1">
                    <h3>
                        职能类
                    </h3>
                    <ul class="clearfix" style="border:none">
                        <li class="dis-inlin dis-block fl-lef"><a href="/Home/Index/search/position/人事.html">HR</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
