<div class="m2-l fl-lef">
    <div class="odiv hover-hand m">
        <span>1</span>
        <h6 class="tit1 m">完善资料<em class="m"></em></h6>
        <p class="tx m">方便推荐人了解公司及职位</p>
    </div>
    <i class="dis-block"><img src="/Public/img/rcmd-img/btmjd.png" alt=""></i>
    <div class="odiv hover-hand">
        <span>2</span>
        <h6 class="tit2">签订合同<em></em></h6>
        
        <p class="tx">签订合同后，就可以发布职位了</p>
    </div>
    <i class="dis-block"><img src="/Public/img/rcmd-img/btmjd.png" alt=""></i>
    <div class="odiv odiv3 hover-hand">
        <span>3</span>
        <h6 class="tit3">发布职位<em></em></h6>
        <p class="tx">职位通过系统审核，就会有推荐</p>
        <a href="/Home/Company/SendJob.html" class="j"></a>
    </div>
    <i class="dis-block"><img src="/Public/img/rcmd-img/btmjd.png" alt=""></i>
    <div class="odiv hover-hand">
        <span>4</span>
        <h6 class="tit4">查看候选人<em></em></h6>
        <p class="jlk">(简历库)</p>
        <p class="tx">如符合要求，请安排面试</p>
    </div>
    <i class="dis-block"><img src="/Public/img/rcmd-img/btmjd.png" alt=""></i>
    <div class="odiv hover-hand">
        <span>5</span>
        <h6 class="tit5">入职管理<em></em></h6>
        <p class="tx">候选人入职后，支付招聘费</p>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(e){
        $(".m2-l .odiv3").on("mouseenter",function(){
           $(this).find(".j").show();
        });
        $(".m2-l .odiv3").on("mouseleave",function(){
            $(this).find(".j").hide();
        });
    })
</script>