<div class="popup_ft reward" id="sys_window">
    <h3>温馨提示</h3>
    <a class="close cur_point"></a>
    <dl>
        <dt id="sys_content">恭喜您！</dt>
        <dd><input type="hidden" id="locationHref"><button id="comWind" class="cur_point">确认</button></dd>
    </dl>
</div>

<div class="RightFixed">
    <ul class="Right"  style="background:#283645">
        <li class="dt"><img src="__ROOT__/Public/img/rightTop.png" alt=""></li>
     <!--   <li><a href="http://www.hudong.com" target="_Blank"><img src="__ROOT__/Public/img/icon1.1.png" alt="百科"></a></li>
        <li><a href="http://www.gfxiong.com/" target="_Blank"><img src="__ROOT__/Public/img/gfx_logo1.png" alt="51社保"></a></li> -->
     <li><a href="http://www.meililai.com" target="_Blank"><img src="__ROOT__/Public/img/mll.png" alt="美丽来" title="美丽来"></a></li>
     <li><a href="http://www.kaomanfen.com" target="_Blank"><img src="__ROOT__/Public/img/kmf.png" alt="盈禾优仕" title="盈禾优仕"></a></li>
     <li><a href="http://www.easywed.cn" target="_Blank"><img src="__ROOT__/Public/img/yijie.png" alt="易结网" title="易结网"></a></li>
     <li><a href="http://www.loveoeye.com" target="_Blank"><img src="__ROOT__/Public/img/ysy.png" alt="云视野" title="云视野"></a></li>


      
  <!--      <li><a href="http://www.51shebao.com/" target="_Blank"><img src="__ROOT__/Public/img/51_2.png" alt="51社保"></a></li>
        <li><a href="http://www.idachu.cn/" target="_Blank"><img src="__ROOT__/Public/img/adc.png" alt="爱大厨"></a></li> -->
    </ul>
    <ul class="btm">
        <li style="margin-bottom:20px;">
            <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1158321049&amp;site=qq&amp;menu=yes" target="_blank" title="欢迎登录人人猎网--人人都是猎头"><img src="__ROOT__/Public/img/icon1.2.png" alt=""></a>
        </li>
        <li class="hddb"><img src="__ROOT__/Public/img/icon1.1.3.png" alt="">
            <span class="myspan"></span>
        </li>
    </ul>
</div>
